 <!-- App Capsule -->
 <div id="appCapsule">

   <div class="section mt-3 text-center">
     <h1 class="my-0" style="font-size: 40px;">Vendre</h1>
     <h4 class="text-muted mb-2 text-center" style="font-size: 17px;">Créer une annonce</h4>
   </div>

   <div class="listview-title mt-1">Visuel</div>
   <ul class="listview image-listview inset">
     <li>
       <a href="#" class="item" data-toggle="modal" data-target="#picturesForm">
         <div class="in">
           <div>
             Ajouter des photos
           </div>
           <ion-icon name="checkmark-circle" class="text-success" style="font-size: 25px;" *ngIf="isPhotosComplete()">
           </ion-icon>
         </div>
       </a>
     </li>
   </ul>

   <div class="listview-title mt-1">Détails</div>
   <ul class="listview image-listview inset">
     <li>
       <a href="#" class="item" data-toggle="modal" data-target="#descriptionForm">
         <div class="in">
           <div>Description</div>
         </div>
         <ion-icon name="checkmark-circle" class="text-success" style="font-size: 25px;"
           *ngIf="isDescriptionComplete()">
         </ion-icon>
       </a>
     </li>
     <li>
       <a href="#" class="item" data-toggle="modal" data-target="#dimensionsForm">
         <div class="in">
           <div>Dimensions</div>
         </div>
         <ion-icon name="checkmark-circle" class="text-success" style="font-size: 25px;" *ngIf="isDimensionsComplete()">
         </ion-icon>
       </a>
     </li>
     <li>
       <a href="#" class="item" data-toggle="modal" data-target="#stateForm">
         <div class="in">
           <div>Etat</div>
         </div>
         <ion-icon name="checkmark-circle" class="text-success" style="font-size: 25px;"
           *ngIf="isStateChoiceComplete()"></ion-icon>
       </a>
     </li>
   </ul>

   <div class="listview-title mt-1">Montant</div>
   <ul class="listview image-listview inset">
     <li>
       <a href="#" class="item" data-toggle="modal" data-target="#amountForm">
         <div class="in">
           <div>Ajouter le prix</div>
         </div>
         <ion-icon name="checkmark-circle" class="text-success" style="font-size: 25px;" *ngIf="isAmountComplete()">
         </ion-icon>
       </a>
     </li>
   </ul>

   <div class="section">
     <button class="btn btn-block btn-primary mt-3 btn-lg" style="font-size: 20px;" (click)="addToSell()">Mettre en
       vente</button>
   </div>

 </div>
 <!-- * App Capsule -->

 <!-- Form Ajout Photos Sheet -->
 <div class="modal fade modalbox" id="picturesForm" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header d-flex align-items-center">
         <h5 class="modal-title">Ajouter des photos</h5>
         <a href="#" class="d-flex" data-dismiss="modal">
           <ion-icon name="close-outline" style="font-size: 20px;"></ion-icon>
         </a>
       </div>
       <div class="modal-body">
         <form>
           <div class="row mb-2">
             <div class="col-6">
               <div class="custom-file-upload" style="overflow: hidden;">
                 <input type="file" id="fileuploadInput" [(ngModel)]="product.img.photoFace"
                   [ngModelOptions]="{standalone: true}" (change)="onPhotoFaceChange($event)"
                   accept=".png, .jpg, .jpeg">
                 <label for="fileuploadInput" *ngIf="!product.img.photoFaceSrc">
                   <span>
                     <strong>
                       <ion-icon name="camera" class="md hydrated"></ion-icon>
                       <i>Photo de face*</i>
                     </strong>
                   </span>
                 </label>
                 <div class="image-upload" *ngIf="product.img.photoFaceSrc">
                   <img [src]="product.img.photoFaceSrc">
                 </div>
               </div>
             </div>
             <div class="col-6">
               <div class="custom-file-upload" style="overflow: hidden;">
                 <input type="file" id="photoDos" [(ngModel)]="product.img.photoDos"
                   [ngModelOptions]="{standalone: true}" (change)="onPhotoDosChange($event)" accept=".png, .jpg, .jpeg">
                 <label for="photoDos" *ngIf="!product.img.photoDosSrc">
                   <span>
                     <strong>
                       <ion-icon name="camera" class="md hydrated"></ion-icon>
                       <i>Photo de dos*</i>
                     </strong>
                   </span>
                 </label>
                 <div class="image-upload" *ngIf="product.img.photoDosSrc">
                   <img [src]="product.img.photoDosSrc">
                 </div>
               </div>
             </div>
           </div>
           <div class="row mb-2">
             <div class="col-6">
               <div class="custom-file-upload" style="overflow: hidden;">
                 <input type="file" id="photoProfile" [(ngModel)]="product.img.photoProfile"
                   [ngModelOptions]="{standalone: true}" (change)="onPhotoProfileChange($event)"
                   accept=".png, .jpg, .jpeg">
                 <label for="photoProfile" *ngIf="!product.img.photoProfileSrc">
                   <span>
                     <strong>
                       <ion-icon name="camera" class="md hydrated"></ion-icon>
                       <i>Photo de profil*</i>
                     </strong>
                   </span>
                 </label>
                 <div class="image-upload" *ngIf="product.img.photoProfileSrc">
                   <img [src]="product.img.photoProfileSrc">
                 </div>
               </div>
             </div>
             <div class="col-6">
               <div class="custom-file-upload" style="overflow: hidden;">
                 <input type="file" id="photoGriffe" [(ngModel)]="product.img.photoGriffe"
                   [ngModelOptions]="{standalone: true}" (change)="onPhotoGriffeChange($event)"
                   accept=".png, .jpg, .jpeg">
                 <label for="photoGriffe" *ngIf="!product.img.photoGriffeSrc">
                   <span>
                     <strong>
                       <ion-icon name="camera" class="md hydrated"></ion-icon>
                       <i>Photo de la griffe*</i>
                     </strong>
                   </span>
                 </label>
                 <div class="image-upload" *ngIf="product.img.photoGriffeSrc">
                   <img [src]="product.img.photoGriffeSrc">
                 </div>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-6">
               <div class="custom-file-upload" style="overflow: hidden;">
                 <input type="file" id="photo5" [(ngModel)]="product.img.photo5" [ngModelOptions]="{standalone: true}"
                   (change)="onPhoto5Change($event)" accept=".png, .jpg, .jpeg">
                 <label for="photo5" *ngIf="!product.img.photo5Src">
                   <span>
                     <strong>
                       <ion-icon name="camera" class="md hydrated"></ion-icon>
                       <i>Photo 5*</i>
                     </strong>
                   </span>
                 </label>
                 <div class="image-upload" *ngIf="product.img.photo5Src">
                   <img [src]="product.img.photo5Src">
                 </div>
               </div>
             </div>
             <div class="col-6">
               <div class="custom-file-upload" style="overflow: hidden;">
                 <input type="file" id="photo6" [(ngModel)]="product.img.photo6" [ngModelOptions]="{standalone: true}"
                   (change)="onPhoto6Change($event)" accept=".png, .jpg, .jpeg">
                 <label for="photo6" *ngIf="!product.img.photo6Src">
                   <span>
                     <strong>
                       <ion-icon name="camera" class="md hydrated"></ion-icon>
                       <i>Photo 6*</i>
                     </strong>
                   </span>
                 </label>
                 <div class="image-upload" *ngIf="product.img.photo6Src">
                   <img [src]="product.img.photo6Src">
                 </div>
               </div>
             </div>
           </div>
           <button class="btn btn-lg btn-block btn-rounded btn-primary mt-2 mb-2" data-dismiss="modal">Valider</button>
         </form>
       </div>
     </div>
   </div>
 </div>
 <!-- * Form Ajout Photos Sheet -->

 <!-- Form Infos Sheet -->
 <div class="modal fade modalbox" id="descriptionForm" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header d-flex align-items-center">
         <h5 class="modal-title">Informations sur l'article</h5>
         <a href="#" class="d-flex" data-dismiss="modal">
           <ion-icon name="close-outline" style="font-size: 20px;"></ion-icon>
         </a>
       </div>
       <div class="modal-body pt-0">
         <div class="pt-2 pb-2 border-0">
           <ul class="nav nav-tabs style1" role="tablist">
             <li class="nav-item">
               <a (click)="getProductType('mode')" class="nav-link active" data-toggle="tab" href="#home" role="tab">
                 Mode
               </a>
             </li>
             <li class="nav-item">
               <a (click)="getProductType('art')" class="nav-link" data-toggle="tab" href="#profile" role="tab">
                 Art
               </a>
             </li>
           </ul>
           <div class="tab-content mt-2">
             <div class="tab-pane fade show active" id="home" role="tabpanel">
               <form>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <select class="form-control custom-select" [(ngModel)]="product.category"
                       [ngModelOptions]="{standalone: true}">
                       <option value="" selected disabled>
                         <span class="placeholder">Sélectionner une catégorie</span>
                       </option>
                       <option value="1">Homme</option>
                       <option value="2">Femme</option>
                       <option value="3">Enfant</option>
                     </select>
                   </div>
                 </div>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <div class="input-wrapper">
                       <input type="text" class="form-control" [(ngModel)]="product.brand"
                         [ngModelOptions]="{standalone: true}" placeholder="Marque">
                     </div>
                   </div>
                 </div>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <input type="text" class="form-control" [(ngModel)]="product.model"
                       [ngModelOptions]="{standalone: true}" placeholder="Modèle">
                   </div>
                 </div>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <input type="text" class="form-control" [(ngModel)]="product.matter"
                       [ngModelOptions]="{standalone: true}" placeholder="Matière">
                   </div>
                 </div>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <input type="text" class="form-control" [(ngModel)]="product.color"
                       [ngModelOptions]="{standalone: true}" placeholder="Couleur">
                   </div>
                 </div>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <textarea rows="3" class="form-control" [(ngModel)]="product.description"
                       [ngModelOptions]="{standalone: true}" placeholder="Décrivez l'article"></textarea>
                     <i class="clear-input">
                       <ion-icon name="close-circle"></ion-icon>
                     </i>
                   </div>
                 </div>
               </form>
             </div>
             <div class="tab-pane fade" id="profile" role="tabpanel">
               <form>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <select class="form-control custom-select" [(ngModel)]="product.categoryArt"
                       [ngModelOptions]="{standalone: true}">
                       <option value="" selected disabled hidden>
                         <span class="placeholder">Sélectionner une catégorie</span>
                       </option>
                       <option value="1">Tableaux</option>
                       <option value="2">Sculptures</option>
                       <option value="3">Luminaires</option>
                       <option value="4">Objets</option>
                       <option value="4">Autres</option>
                     </select>
                   </div>
                 </div>
                 <div class="form-group basic">
                   <div class="input-wrapper">
                     <textarea id="name3" rows="3" class="form-control" [(ngModel)]="product.descriptionArt"
                       [ngModelOptions]="{standalone: true}" placeholder="Décrivez l'article"></textarea>
                   </div>
                 </div>
               </form>
             </div>
           </div>
           <div class="form-group basic">
             <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Valider</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- * Form Infos Sheet -->

 <!-- Form Dimensions Sheet -->
 <div class="modal fade action-sheet" id="dimensionsForm" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header d-flex align-items-center">
         <h5 class="modal-title">Dimensions de l'article</h5>
         <a href="#" class="d-flex" data-dismiss="modal">
           <ion-icon name="close-outline" style="font-size: 20px;"></ion-icon>
         </a>
       </div>
       <div class="modal-body">
         <div class="wide-block pt-2 pb-2 border-0">
           <form class="d-flex mb-2">
             <div class="form-group basic mr-2">
               <div class="input-wrapper">
                 <input type="number" class="form-control text-center px-0 number"
                   [(ngModel)]="product.dimensions.height" [ngModelOptions]="{standalone: true}" placeholder="Haut.">

               </div>
             </div>

             <div class="form-group basic mr-2">
               <div class="input-wrapper">
                 <input type="number" class="form-control text-center px-0 number"
                   [(ngModel)]="product.dimensions.width" [ngModelOptions]="{standalone: true}" placeholder="Larg.">

               </div>
             </div>

             <div class="form-group basic">
               <div class="input-wrapper">
                 <input type="number" class="form-control text-center px-0 number"
                   [(ngModel)]="product.dimensions.depth" [ngModelOptions]="{standalone: true}" placeholder="Prof.">

               </div>
             </div>
           </form>
           <div class="form-group basic">
             <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Valider</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- * Form Dimensions -->

 <!-- Form  State Choice -->
 <div class="modal fade modalbox" id="stateForm" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header d-flex align-items-center">
         <h5 class="modal-title">Etat de l'article</h5>
         <a href="#" class="d-flex" data-dismiss="modal">
           <ion-icon name="close-outline" style="font-size: 20px;"></ion-icon>
         </a>
       </div>
       <div class="modal-body pt-0" style="background:#EDEDF5;">
         <div class="pt-2 pb-2 border-0">
           <ul class="nav nav-tabs style1" role="tablist">
             <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#stateMode" role="tab">
                 Mode
               </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" data-toggle="tab" href="#stateArt" role="tab">
                 Art
               </a>
             </li>
           </ul>
           <div class="tab-content mt-2">
             <div class="tab-pane fade show active" id="stateMode" role="tabpanel">
               <div class="wide-block p-0 mb-3">
                 <div class="input-list">
                   <div class="custom-control custom-radio">
                     <input type="radio" id="neverWornWithTagChoice" [(ngModel)]="product.stateChoice"
                       value="neverWornWithTagChoice" class="custom-control-input">
                     <label class="custom-control-label" for="neverWornWithTagChoice">
                       <div class="in">
                         <div>
                           <p class="my-0" style="font-size: 18px;">Jamais porté avec étiquette</p>
                           <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">Un
                             article jamais porté avec étiquette est un article qui n'a jamais été porté et
                             présente les étiquettes originales d'achat (joindre la photo de l'étiquette).</footer>
                         </div>
                       </div>
                     </label>
                   </div>
                   <div class="custom-control custom-radio">
                     <input type="radio" id="neverWornChoice" [(ngModel)]="product.stateChoice" value="neverWornChoice"
                       class="custom-control-input">
                     <label class="custom-control-label" for="neverWornChoice">
                       <div class="in">
                         <div>
                           <p class="my-0" style="font-size: 18px;">Jamais porté</p>
                           <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">Un
                             article jamais porté sans étiquette est un article qui n'a jamais été porté et ne
                             présente aucun défaut ni aucune modification.</footer>
                         </div>
                       </div>
                     </label>
                   </div>
                   <div class="custom-control custom-radio">
                     <input type="radio" id="veryGoodStateChoice" [(ngModel)]="product.stateChoice"
                       value="veryGoodStateChoice" class="custom-control-input">
                     <label class="custom-control-label" for="veryGoodStateChoice">
                       <div class="in">
                         <div>
                           <p class="my-0" style="font-size: 18px;">Très bon état</p>
                           <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">Un
                             article en très bon état est un article d'occasion peu utilisé et très bien
                             entretenu,
                             pouvant présenter de légers défauts d'usage (ceux-ci doivent être mentionnés dans le
                             descriptif
                             et visibles en photo).</footer>
                         </div>
                       </div>
                     </label>
                   </div>
                   <div class="custom-control custom-radio">
                     <input type="radio" id="goodStateChoice" [(ngModel)]="product.stateChoice" value="goodStateChoice"
                       class="custom-control-input">
                     <label class="custom-control-label" for="goodStateChoice">
                       <div class="in">
                         <div>
                           <p class="my-0" style="font-size: 18px;">Bon état</p>
                           <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">Un
                             article en bon état est un article d'occasion porté et bien entretenu. Si
                             l'article
                             présente des défauts, ceux-ci doivent être mentionnés dans le descriptif et visibles en
                             photo.
                           </footer>
                         </div>
                       </div>
                     </label>
                   </div>
                   <div class="custom-control custom-radio">
                     <input type="radio" id="correctChoice" [(ngModel)]="product.stateChoice" value="correctChoice"
                       class="custom-control-input">
                     <label class="custom-control-label" for="correctChoice">
                       <div class="in">
                         <div>
                           <p class="my-0" style="font-size: 18px;">Correct</p>
                           <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">
                             Un article en état correct est un article d'occasion porté fréquemment pouvant
                             présenter
                             des défauts (mentionnés dans le descriptif et visibles en photo).
                           </footer>
                         </div>
                       </div>
                     </label>
                   </div>
                 </div>
               </div>
             </div>
             <div class="tab-pane fade" id="stateArt" role="tabpanel">
               <div class="wide-block p-0 mb-3">
                 <div class="input-list">
                   <form>
                     <div class="custom-control custom-radio">
                       <input type="radio" id="veryGoodStateChoiceArt" [(ngModel)]="product.stateChoiceArt"
                         value="veryGoodStateChoiceArt" name="stateChoiceArt" class="custom-control-input">
                       <label class="custom-control-label" for="veryGoodStateChoiceArt">
                         <div class="in">
                           <div>
                             <p class="my-0" style="font-size: 18px;">Très bon état</p>
                             <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">
                               Un
                               article en très bon état est un article d'occasion très bien
                               entretenu, pouvant présenter de légers défauts d'usage (ceux-ci doivent être mentionnés
                               dans le descriptif et visibles en photo).</footer>
                           </div>
                         </div>
                       </label>
                     </div>
                     <div class="custom-control custom-radio">
                       <input type="radio" id="goodStateChoiceArt" [(ngModel)]="product.stateChoiceArt"
                         value="goodStateChoiceArt" name="stateChoiceArt" class="custom-control-input">
                       <label class="custom-control-label" for="goodStateChoiceArt">
                         <div class="in">
                           <div>
                             <p class="my-0" style="font-size: 18px;">Bon état</p>
                             <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">
                               Un
                               article en bon état est un article d'occasion bien entretenu. Si l'article présente des
                               défauts, ceux-ci doivent être mentionnés dans le descriptif et visibles en photo.
                             </footer>
                           </div>
                         </div>
                       </label>
                     </div>
                     <div class="custom-control custom-radio">
                       <input type="radio" id="correctChoiceArt" [(ngModel)]="product.stateChoiceArt"
                         value="correctChoiceArt" name="stateChoiceArt" class="custom-control-input">
                       <label class="custom-control-label" for="correctChoiceArt">
                         <div class="in">
                           <div>
                             <p class="my-0" style="font-size: 18px;">Correct</p>
                             <footer class="text-muted" style="font-size: 14px; font-weight: 500; line-height: 1.2em;">
                               Un article en état correct est un article d'occasion pouvant présenter des défauts
                               (mentionnés dans le descriptif et visibles en photo).
                             </footer>
                           </div>
                         </div>
                       </label>
                     </div>
                   </form>
                 </div>
               </div>
             </div>
           </div>
           <div class="form-group basic">
             <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Valider</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- * Form State Choice -->

 <!-- Form Amount -->
 <div class="modal fade action-sheet" id="amountForm" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header d-flex align-items-center">
         <h5 class="modal-title">Prix de l'article</h5>
         <a href="#" class="d-flex" data-dismiss="modal">
           <ion-icon name="close-outline" style="font-size: 20px;"></ion-icon>
         </a>
       </div>
       <div class="modal-body">
         <div class="action-sheet-content">
           <form class="d-flex">
             <div class="form-group basic mr-4">
               <div class="input-wrapper">
                 <input type="number" class="form-control text-center px-0 number" [(ngModel)]="product.amount.price"
                   [ngModelOptions]="{standalone: true}" placeholder="Prix">
               </div>
             </div>

             <div class="form-group basic">
               <div class="input-wrapper">
                 <input type="number" class="form-control text-center px-0 number"
                   [(ngModel)]="product.amount.amountWin" [ngModelOptions]="{standalone: true}"
                   placeholder="Vous gagnez">
               </div>
             </div>

           </form>
           <div class="form-group basic">
             <button type="button" class="btn btn-primary btn-block btn-lg mt-2" data-dismiss="modal">Valider</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- * Form Amount -->
