<!-- App Header -->
<div class="appHeader no-border transparent" style="z-index: 111111;">
  <div class="right">
  </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule" class="content d-flex align-items-center justify-content-center">

  <div class="section text-center">
    <div class="mb-3">
      <img src="assets/img/startPage/dresses.png" alt="alt"
        class="imaged startText square mb-4  animate__animated animate__fadeInDown">
      <h2 class="text-center animate__animated animate__fadeInUp animate__fast" style="font-size: 30px;">Vous êtes passionné<br>par la
        mode ?</h2>
      <p class="mb-5 mt-1 text-secondary text-center animate__animated animate__fadeInUp animate__faster" style="font-size: 20px;">
        Vendez ou achetez des pièces
        d'exceptions. Il y a peut-être une pièce que vous ne trouverez nulle part ailleurs.</p>
    </div>
  </div>

  <div class="carousel-button-footer">
    <div class="row d-flex justify-content-center">
      <a [routerLink]="['/start-art']" routerLinkActive="router-link-active"
        class="btn-connect bg-primary animate__animated animate__pulse animate__infinite">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </a>
    </div>
  </div>

</div>
<!-- * App Capsule -->
