<app-loader [state]="isLoading()"></app-loader>
<!-- Extra Header -->
<div class="extraHeader pr-0 pl-0">
  <ul class="nav nav-tabs lined" role="tablist">
    <li class="nav-item">
      <a class="nav-link {{!isTypeParams('news') && !isTypeParams('falling-price') ? 'active' : ''}}" data-toggle="tab"
        href="#all" role="tab">
        Tous
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isTypeParams('news') ? 'active' : ''}}" data-toggle="tab" href="#news" role="tab">
        Nouveautés
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isTypeParams('falling-price') ? 'active' : ''}}" data-toggle="tab" href="#lowPrice"
        role="tab">
        Prix en baisse
      </a>
    </li>
  </ul>
</div>
<!-- * Extra Header -->

<!-- App Capsule -->
<div id="appCapsule" class="extra-header-active">
  <div class="section full" style="overflow: hidden;">
    <div class="wide-block pt-1 pb-1 d-flex justify-content-center" style="border-top: 0;">
      <button class="btn btn-icon btn-primary input-icon mr-2" data-toggle="modal" data-target="#chooseCategoryForm"
        style="width: 30px; height: 30px;">
        <ion-icon name="filter-outline" class="md hydrated"></ion-icon>
      </button>
      <button class="btn btn-icon btn-primary input-icon" data-toggle="modal" data-target="#searchForm"
        style="width: 30px; height: 30px;">
        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
      </button>
    </div>
  </div>
  <div class="section tab-content mt-2 mb-2">

    <!-- all tab -->
    <div class="tab-pane fade {{!isTypeParams('news') && !isTypeParams('falling-price') ? 'show active' : ''}}" id="all"
      role="tabpanel">
      <div class="row">
        <ng-container *ngFor="let product of products">
          <div class="col-6 mb-2">
            <div class="blog-card">
              <a [routerLink]="['/product-detail', product.id]" routerLinkActive="router-link-active">
                <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                  <a [routerLink]="['/profile', product.sellerId]" routerLinkActive="router-link-active"
                    class="d-flex align-items-center justify-content-between text-muted">
                    <img [src]="product.sellerImg" [alt]="product.sellerName" [title]="product.sellerName"
                      class="imaged w24 rounded mr-05"> {{product.sellerName}}
                  </a>
                  <div class="d-flex align-items-center justify-content-between text-muted">
                    <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                    <span class="number" style="font-size: 9px">{{product.like}}</span>
                  </div>
                </div>
                <div class="image-overflow">
                  <img [src]="product.img.photoFace" [alt]="product.brand" [title]="product.brand" class="imaged w-100">
                </div>
                <div class="bill-box">
                  <div class="chip chip-media mb-2">
                    <i class="chip-icon bg-primary">
                      <ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="alarm outline">
                      </ion-icon>
                    </i>
                    <span class="chip-label number"
                      style="font-size: 12px;">{{product.amount.price | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
                  </div>
                  <h1 style="font-size: 15px; text-transform: uppercase;">{{product.brand}}</h1>
                  <p>{{product.description}}</p>
                </div>
              </a>
              <div class="d-flex align-items-center justify-content-between" style="padding: 0 10px 10px;">
                <div class="d-flex align-items-center">
                  <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                  <span class="fi fi-{{product.sellerCountry}}"></span>
                </div>
                <button (click)="addProductToCart(product)" class="btn btn-icon btn-primary me-1">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="products.length === 0">
          <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 500px;">
            <p style="font-size: x-large;">Aucun article disponible</p>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- * all tab -->

    <!-- news tab -->
    <div class="tab-pane fade {{isTypeParams('news') ? 'show active' : ''}}" id="news" role="tabpanel">
      <div class="row">
        <ng-container *ngFor="let product of products">
          <div class="col-6 mb-2">
            <div class="blog-card">
              <a [routerLink]="['/product-detail', product.id]" routerLinkActive="router-link-active">
                <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                  <a [routerLink]="['/profile', product.sellerId]" routerLinkActive="router-link-active"
                    class="d-flex align-items-center justify-content-between text-muted">
                    <img [src]="product.sellerImg" [alt]="product.sellerName" [title]="product.sellerName"
                      class="imaged w24 rounded mr-05"> {{product.sellerName}}
                  </a>
                  <div class="d-flex align-items-center justify-content-between text-muted">
                    <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                    <span class="number" style="font-size: 9px">{{product.like}}</span>
                  </div>
                </div>
                <div class="image-overflow">
                  <img [src]="product.img.photoFace" [alt]="product.brand" [title]="product.brand" class="imaged">
                </div>
                <div class="bill-box">
                  <div class="chip chip-media mb-2">
                    <i class="chip-icon bg-primary">
                      <ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="alarm outline">
                      </ion-icon>
                    </i>
                    <span class="chip-label number"
                      style="font-size: 12px;">{{product.amount.price | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
                  </div>
                  <h1 style="font-size: 15px; text-transform: uppercase;">{{product.brand}}</h1>
                  <p>{{product.description}}</p>
                </div>
              </a>
              <div class="d-flex align-items-center justify-content-between" style="padding: 0 10px 10px;">
                <div class="d-flex align-items-center">
                  <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                  <span class="fi fi-{{product.sellerCountry}}"></span>
                </div>
                <button (click)="addProductToCart(product)" class="btn btn-icon btn-primary me-1">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="products.length === 0">
          <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 500px;">
            <p style="font-size: x-large;">Aucun article disponible</p>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- * news tab -->

    <!-- lowPrice tab -->
    <div class="tab-pane fade {{isTypeParams('falling-price') ? 'show active' : ''}}" id="lowPrice" role="tabpanel">
      <div class="row">
        <ng-container *ngFor="let product of products">
          <div class="col-6 mb-2" *ngIf="product.amount.fallingPrice">
            <div class="blog-card">
              <a [routerLink]="['/product-detail', product.id]" routerLinkActive="router-link-active">
                <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                  <a [routerLink]="['/profile', product.sellerId]" routerLinkActive="router-link-active"
                    class="d-flex align-items-center justify-content-between text-muted">
                    <img [src]="product.sellerImg" [alt]="product.sellerName" [title]="product.sellerName"
                      class="imaged w24 rounded mr-05"> {{product.sellerName}}
                  </a>
                  <div class="d-flex align-items-center justify-content-between text-muted">
                    <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                    <span class="number" style="font-size: 9px">{{product.like}}</span>
                  </div>
                </div>
                <div class="image-overflow">
                  <img [src]="product.img.photoFace" [alt]="product.brand" [title]="product.brand" class="imaged">
                </div>
                <div class="bill-box">
                  <div class="chip chip-media mb-2">
                    <i class="chip-icon bg-primary">
                      <ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="alarm outline">
                      </ion-icon>
                    </i>
                    <span class="chip-label number pr-0"
                      style="text-decoration: line-through; font-size:8px; margin-right: 3px;">{{product.amount.price | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
                    <span class="text-danger number"
                      style="font-size: 10px; font-weight: bold;">{{product.amount.fallingPrice | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
                  </div>
                  <h1 style="font-size: 15px; text-transform: uppercase;">{{product.brand}}</h1>
                  <p>{{product.description}}</p>
                </div>
              </a>
              <div class="d-flex align-items-center justify-content-between" style="padding: 0 10px 10px;">
                <div class="d-flex align-items-center">
                  <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                  <span class="fi fi-{{product.sellerCountry}}"></span>
                </div>
                <button (click)="addProductToCart(product)" class="btn btn-icon btn-primary me-1">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="products.length === 0">
          <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 500px;">
            <p style="font-size: x-large;">Aucun article disponible</p>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- * lowPrice tab -->
    <!-- <div class="text-center">
      <a href="javascript:void;" class="btn btn-icon btn-primary mr-1 mb-4">
        <ion-icon name="refresh-outline"></ion-icon>
      </a>
    </div> -->
  </div>

</div>
<!-- * App Capsule -->


<!-- Form Choose Category -->
<div class="modal fade action-sheet" id="chooseCategoryForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title">Catégories</h5>
        <a href="#" class="d-flex" data-dismiss="modal">
          <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
        </a>
      </div>
      <div class="modal-body">
        <div class="wide-block pt-2 pb-4 border-0" style="background: #EDEDF5;">
          <ul class="nav nav-tabs style1" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#mode" role="tab">
                Mode
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#art" role="tab">
                Art
              </a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="mode" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let category of categories">
                  <!-- item -->
                  <div class="col-3 mb-2" *ngIf="isCategoryMode(category)">
                    <a [routerLink]="['/shop', {productType: category.type, category: category.url}]"
                      routerLinkActive="router-link-active" data-dismiss="modal">
                      <div class="user-card">
                        <img [src]="category.img" [alt]="category.name" [title]="category.name" class="imaged w-100">
                        <strong style="text-transform: capitalize;">{{category.name}}</strong>
                      </div>
                    </a>
                  </div>
                  <!-- * item -->
                </ng-container>
              </div>
            </div>
            <div class="tab-pane fade" id="art" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let category of categories">
                  <!-- item -->
                  <div class="col-3 mb-2" *ngIf="isCategoryArt(category)">
                    <a [routerLink]="['/shop', {productType: category.type, category: category.url}]"
                      routerLinkActive="router-link-active" data-dismiss="modal">
                      <div class="user-card">
                        <img [src]="category.img" [alt]="category.name" [title]="category.name" class="imaged w-100">
                        <strong style="text-transform: capitalize;">{{category.name}}</strong>
                      </div>
                    </a>
                  </div>
                  <!-- * item -->
                </ng-container>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- * Form Choose Category -->

<!-- Form Search -->
<div class="modal fade action-sheet" id="searchForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title">Rechercher un article</h5>
        <a href="#" class="d-flex" data-dismiss="modal">
          <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
        </a>
      </div>
      <div class="modal-body">
        <div class="section full px-3 pt-3 pb-5" style="background: #EDEDF5;">
          <div class="wide-block pt-1 pb-1" style="border: 0; border-radius: 10px;">
            <form class="search-form">
              <div class="form-group searchbox">
                <!-- <input type="text" class="form-control" placeholder="Recherche" [(ngModel)]="search"
                  [ngModelOptions]="{standalone: true}"> -->
                <input type="text" class="form-control" [(ngModel)]="search"
                [ngModelOptions]="{standalone: true}" placeholder="Recherche" #searchElementRef>
                <a class="ms-1 close toggle-searchbox" (click)="emptySearch()">
                  <i class="icon ion-ios-close-circle" style="color: #cfcfcf;"></i>
                </a>
                <i class="input-icon" (click)="searchProduct()">
                  <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                </i>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Form Search -->
