<!-- Extra Header -->
<div class="extraHeader pr-0 pl-0">
  <ul class="nav nav-tabs lined" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#all" role="tab">
        Tous
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#news" role="tab">
        Nouveautés
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#lowPrice" role="tab">
        Prix en baisse
      </a>
    </li>
  </ul>
</div>
<!-- * Extra Header -->


<!-- App Capsule -->
<div id="appCapsule" class="extra-header-active">
  <div class="wide-block pt-1 pb-1 border-0 mt-1">
    <form class="search-form">
      <div class="form-group searchbox">
        <input type="text" class="form-control">
        <i class="input-icon">
          <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
        </i>
      </div>
    </form>
  </div>
  <div class="section tab-content mt-2 mb-2">

    <!-- all tab -->
    <div class="tab-pane fade show active" id="all" role="tabpanel">
      <div class="row">
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                  class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/sacdior.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">2650 €</div>
                <h1 style="font-size: 15px; text-transform: uppercase;">DIOR</h1>
                <p>Sac en toile</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                  class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/sneakers.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">650 €</div>
                <h1 style="font-size: 15px; text-transform: uppercase;">Balenciaga</h1>
                <p>Baskets montantes en cuir</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                  class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/saclv.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">1650 €</div>
                <h1 style="font-size: 15px; text-transform: uppercase;">Louis Vuitton</h1>
                <p>Sac bandoulière</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                  class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/sneakers.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">650 €</div>
                <h1 style="font-size: 15px; text-transform: uppercase;">Balenciaga</h1>
                <p>Baskets montantes en cuir</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                  class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/sneakers.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">650 €</div>
                <h1 style="font-size: 15px; text-transform: uppercase;">Balenciaga</h1>
                <p>Baskets montantes en cuir</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                  class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/sneakers.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">650 €</div>
                <h1 style="font-size: 15px; text-transform: uppercase;">Balenciaga</h1>
                <p>Baskets montantes en cuir</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- * all tab -->

    <!-- news tab -->
    <div class="tab-pane fade" id="news" role="tabpanel">
      <div class="row">
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                  class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/sneakers.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">650 €</div>
                <h1 style="font-size: 15px; text-transform: uppercase;">Balenciaga</h1>
                <p>Baskets montantes en cuir</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- * news tab -->

    <!-- lowPrice tab -->
    <div class="tab-pane fade" id="lowPrice" role="tabpanel">
      <div class="row">
        <div class="col-6 mb-2">
          <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active">
            <div class="blog-card">
              <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                <a [routerLink]="['/profile']" routerLinkActive="router-link-active" class="d-flex align-items-center justify-content-between text-muted">
                  <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w24 rounded mr-05"> Ava
                </a>
                <div class="d-flex align-items-center justify-content-between text-muted">
                  <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                  <span class="number" style="font-size: 9px">245</span>
                </div>
              </div>
              <img src="assets/img/annonce/sacs/sneakers.jpeg" alt="image" class="imaged w-100">
              <div class="bill-box">
                <div class="price">
                  <span class="original mr-1" style="text-decoration: line-through; font-size: 10px;">350 €</span>
                  <span class="text-danger">225,80 €</span>
                </div>
                <h1 style="font-size: 15px; text-transform: uppercase;">Balenciaga</h1>
                <p>Baskets montantes en cuir</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                    <span class="fi fi-fr" style="margin-right: 4px;"></span>
                  </div>
                  <a href="#" class="btn btn-icon btn-primary me-1">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- * lowPrice tab -->
    <div class="text-center">
      <a href="javascript:;" class="btn btn-icon btn-primary mr-1 mb-4">
        <ion-icon name="refresh-outline"></ion-icon>
      </a>
    </div>
  </div>

</div>
<!-- * App Capsule -->
