<app-loader [state]="isLoading()"></app-loader>
<!-- App Header -->
<div class="appHeader">
  <div class="left">
    <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" class="text-primary"></ion-icon>
    </a>
  </div>
  <div class="pageTitle" style="text-transform: capitalize;">
    {{filtersProducts.category ? filtersProducts.category : 'Tous'}}
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- * App Header -->
<!-- Extra Header -->
<div class="extraHeader pr-0 pl-0">
  <ul class="nav nav-tabs lined" role="tablist">
    <li class="nav-item">
      <a class="nav-link {{!isTypeParams('news') && !isTypeParams('falling-price') ? 'active' : ''}}" data-toggle="tab"
        href="#all" role="tab">
        Tous
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isTypeParams('news') ? 'active' : ''}}" data-toggle="tab" href="#news" role="tab">
        Nouveautés
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isTypeParams('falling-price') ? 'active' : ''}}" data-toggle="tab" href="#lowPrice"
        role="tab">
        Prix en baisse
      </a>
    </li>
  </ul>
</div>
<!-- * Extra Header -->

<!-- App Capsule -->
<div id="appCapsule" class="extra-header-active">
  <div class="section full position-fixed w-100" style="overflow: hidden; z-index: 3; top: 100px; left: 0;">
    <div class="wide-block pt-1 pb-1 d-flex justify-content-center" style="border-top: 0;">
      <button class="btn btn-icon btn-primary input-icon mr-2" data-toggle="modal" data-target="#chooseCategoryForm"
        style="width: 30px; height: 30px;">
        <ion-icon name="filter-outline" class="md hydrated"></ion-icon>
      </button>
      <button class="btn btn-icon btn-primary input-icon mr-2" data-toggle="modal" data-target="#searchForm"
        style="width: 30px; height: 30px;">
        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
      </button>
      <button class="btn btn-icon btn-primary input-icon" data-toggle="modal" data-target="#sortForm"
        style="width: 30px; height: 30px;">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </button>
    </div>
  </div>
  <div class="section tab-content mt-2 mb-2">

    <!-- all tab -->
    <div class="tab-pane fade {{!isTypeParams('news') && !isTypeParams('falling-price') ? 'show active' : ''}}" id="all"
      role="tabpanel">
      <div class="row">
        <ng-container *ngFor="let product of products; trackBy:trackById">
          <div class="col-6 mb-2">
            <app-card-product [product]="product" [productId]="product.id"></app-card-product>
          </div>
        </ng-container>
        <ng-container *ngIf="products.length === 0">
          <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 500px;">
            <p style="font-size: x-large;">Aucun article disponible</p>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- * all tab -->

    <!-- news tab -->
    <div class="tab-pane fade {{isTypeParams('news') ? 'show active' : ''}}" id="news" role="tabpanel">
      <div class="row">
        <ng-container *ngFor="let product of products; trackBy:trackById">
          <div class="col-6 mb-2">
            <app-card-product [product]="product" [productId]="product.id"></app-card-product>
          </div>
        </ng-container>
        <ng-container *ngIf="products.length === 0">
          <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 500px;">
            <p style="font-size: x-large;">Aucun article disponible</p>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- * news tab -->

    <!-- lowPrice tab -->
    <div class="tab-pane fade {{isTypeParams('falling-price') ? 'show active' : ''}}" id="lowPrice" role="tabpanel">
      <div class="row">
        <ng-container *ngFor="let product of products; trackBy:trackById">
          <div class="col-6 mb-2" *ngIf="product.fallingPrice">
            <app-card-product [product]="product" [productId]="product.id"></app-card-product>
          </div>
        </ng-container>
        <ng-container *ngIf="products.length === 0">
          <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 500px;">
            <p style="font-size: x-large;">Aucun article disponible</p>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- * lowPrice tab -->
    <!-- <div class="text-center">
      <a href="javascript:void;" class="btn btn-icon btn-primary mr-1 mb-4">
        <ion-icon name="refresh-outline"></ion-icon>
      </a>
    </div> -->
  </div>

</div>
<!-- * App Capsule -->


<!-- Form Choose Category -->
<div class="modal fade action-sheet" id="chooseCategoryForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title">Catégories</h5>
        <a href="#" class="d-flex" data-dismiss="modal">
          <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
        </a>
      </div>
      <div class="modal-body">
        <div class="wide-block pt-2 pb-4 border-0" style="background:  #f7f7ff;">
          <ul class="nav nav-tabs style1" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#mode" role="tab">
                Mode
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#art" role="tab">
                Art
              </a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="mode" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let category of categories; trackBy:trackById">
                  <!-- item -->
                  <div class="col-3 mb-2" *ngIf="isCategoryMode(category)">
                    <a [routerLink]="['/shop', {catalogType: category.type, category: category.value}]"
                      routerLinkActive="router-link-active" data-dismiss="modal">
                      <div class="user-card">
                        <img [src]="category.img" [alt]="category.name" [title]="category.name" class="imaged w-100">
                        <strong style="text-transform: capitalize;">{{category.name}}</strong>
                      </div>
                    </a>
                  </div>
                  <!-- * item -->
                </ng-container>
              </div>
            </div>
            <div class="tab-pane fade" id="art" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let category of categories; trackBy:trackById">
                  <!-- item -->
                  <div class="col-3 mb-2" *ngIf="isCategoryArt(category)">
                    <a [routerLink]="['/shop', {catalogType: category.type, category: category.value}]"
                      routerLinkActive="router-link-active" data-dismiss="modal">
                      <div class="user-card">
                        <img [src]="category.img" [alt]="category.name" [title]="category.name" class="imaged w-100">
                        <strong style="text-transform: capitalize;">{{category.name}}</strong>
                      </div>
                    </a>
                  </div>
                  <!-- * item -->
                </ng-container>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- * Form Choose Category -->

<!-- Form Search -->
<div class="modal fade action-sheet" id="searchForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title">Rechercher un article</h5>
        <a href="#" class="d-flex" data-dismiss="modal">
          <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
        </a>
      </div>
      <div class="modal-body">
        <div class="section full px-3 pt-3 pb-5" style="background:  #f7f7ff;">
          <div class="wide-block pt-1 pb-1" style="border: 0; border-radius: 10px;">
            <form class="search-form">
              <div class="form-group searchbox">
                <input type="text" class="form-control" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
                  placeholder="Recherche" #searchElementRef>
                <a class="ms-1 close toggle-searchbox" (click)="emptySearch()">
                  <i class="icon ion-ios-close-circle" style="color: #cfcfcf;"></i>
                </a>
                <i class="input-icon" (click)="searchProduct()">
                  <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                </i>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Form Search -->

<!-- Form Search -->
<div class="modal fade action-sheet" id="sortForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title">Trier par</h5>
        <a href="#" class="d-flex" data-dismiss="modal">
          <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
        </a>
      </div>
      <div class="modal-body">
        <div class="section full px-3 pt-3 pb-5" style="background:  #f7f7ff;">
          <div class="wide-block p-0" style="border-radius: 10px;
          border: none;
          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 9%);">
            <div class="input-list">
              <form>
                <div class="custom-control custom-radio" (click)="sortProduct(products, 'dateDesc')">
                  <input type="radio" id="dateDesc" [(ngModel)]="sortDate" value="dateDesc" name="sortPrice"
                    class="custom-control-input">
                  <label class="custom-control-label" for="dateDesc">
                    <div class="in">
                      <div>
                        <p class="my-0" style="font-size: 18px;">Les plus récents</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="custom-control custom-radio" (click)="sortProduct(products, 'priceAsc')">
                  <input type="radio" id="priceAsc" [(ngModel)]="sortPrice" value="priceAsc" name="sortPrice"
                    class="custom-control-input">
                  <label class="custom-control-label" for="priceAsc">
                    <div class="in">
                      <div>
                        <p class="my-0" style="font-size: 18px;">Prix croissant</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="custom-control custom-radio" (click)="sortProduct(products, 'priceDesc')">
                  <input type="radio" id="priceDesc" [(ngModel)]="sortPrice" value="priceDesc" name="sortPrice"
                    class="custom-control-input">
                  <label class="custom-control-label" for="priceDesc">
                    <div class="in">
                      <div>
                        <p class="my-0" style="font-size: 18px;">Prix décroissant</p>
                      </div>
                    </div>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Form Search -->
<app-footer></app-footer>
