<app-loader [state]="loading"></app-loader>
<!-- App Header -->
<div class="appHeader no-border transparent" style="z-index: 111111;">
  <div class="right">
    <a (click)="gotoHome()" class="headerButton">
      <ion-icon name="arrow-forward-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- * App Header -->
<!-- App Capsule -->
<div id="appCapsule" class="content">
  <div class="section" style="position: relative;top: 100px;">
    <owl-carousel-o [options]="carouselFullOptions">
      <ng-container>
        <ng-template carouselSlide>
          <div class="item p-2" style="display: flex;
			 align-items: center;
			 justify-content: center;
			 top: 130px;
			 position: relative;">
            <img src="assets/img/logo.png" alt="image"
              class="imaged start square animate__animated animate__fadeInDown">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item p-2 d-flex flex-column align-items-center justify-content-center">
            <img src="assets/img/dresses.png" alt="alt" class="imaged startText square mb-4">
            <h2 class="text-center" style="font-size: 30px;">Vous êtes passionné<br>par la mode ?</h2>
            <p class="mb-5 mt-1 text-secondary text-center" style="font-size: 20px;">Vendez ou achetez des pièces
              d'exceptions dans notre boutique éphémère.</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item p-2 d-flex flex-column align-items-center justify-content-center">
            <img src="assets/img/modern-art.png" alt="alt" class="imaged startText square mb-4">
            <h2 class="text-center" style="font-size: 30px;">Vous êtes un artiste ou<br>passionné par l'art ?</h2>
            <p class="mb-5 mt-1 text-secondary text-center" style="font-size: 20px;">Vendez ou achetez des pièces
              uniques dans notre boutique éphémère.</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="carousel-button-footer">
    <div class="row d-flex justify-content-center">
      <a [routerLink]="['/register']" routerLinkActive="router-link-active"
        class="btn-connect bg-primary mr-5 animate__animated animate__pulse animate__infinite">
        <ion-icon name="person-add-outline"></ion-icon>
      </a>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn-connect bg-primary animate__animated animate__pulse animate__infinite">
        <ion-icon name="person-outline"></ion-icon>
      </a>
    </div>
  </div>


</div>
<!-- * App Capsule -->
