<!-- App Capsule -->
<div id="appCapsule" class="content d-flex align-items-center justify-content-center">

  <div class="section text-center">
    <div class="mb-3">
		 <img src="assets/img/logo.png" alt="image" class="imaged square animate__animated animate__fadeInDown" width="130px">
	</div>
  </div>

  <div class="fixed-bar">
    <div class="row">
      <div class="col-12">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-lg btn-primary btn-block">Suivant</a>
      </div>
    </div>
  </div>

</div>
<!-- * App Capsule -->
