<app-loader [state]="loading"></app-loader>
<!-- App Header -->
<div class="appHeader no-border transparent" style="z-index: 111111;">
  <div class="right">
  </div>
</div>
<!-- * App Header -->
<!-- App Capsule -->
<div id="appCapsule" class="content d-flex align-items-center justify-content-center">


  <div class="section text-center">
    <div class="mb-3">
      <img src="assets/img/logo/logo.png" alt="image" class="imaged square animate__animated animate__fadeInUp"
        width="130px">
    </div>
  </div>

  <div class="carousel-button-footer">
    <div class="row d-flex justify-content-center">
      <a [routerLink]="['/start-mode']" routerLinkActive="router-link-active"
        class="btn-connect bg-primary animate__animated animate__pulse animate__infinite">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </a>
    </div>
  </div>


</div>
<!-- * App Capsule -->
