.content {
  min-height: 100vh;
  position: relative;
  z-index: 1000;
  background: white;

  .splash-page {
	 text-align: justify;
  }

  .btn-connect {
    padding: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #ddd1b6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
  }

  .wide-block {
	  background: #ffffffe8;
  }
  &::after {
    content: "";
    background: url('../../../../../assets/img/bkg.svg') no-repeat top center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
  }
}
