<div id="appCapsule">

  <div class="section inset" style="margin-top: 100px;">
    <div class="card card-user animate__animated animate__tada">
      <div class="card-body">
        <img class="avatar border-gray" src="assets/img/checked.png" alt="...">
        <div class="content-card">
          <h5 class="card-title mb-4">Merci AVA !</h5>
          <h2 class="text-center mt-2">Votre commande est confirmé !</h2>
          <p class="card-description mb-3">
            Votre commande est confirmé, vous recevrez un email de confirmation contenant le récapitulatif de votre
            commande.
          </p>
          <p class="card-description mt-2">
            N'hésitez pas à nous contacter pour toutes questions concernant votre commande.
          </p>
        </div>
      </div>
      <div class="card-footer text-center mt-3 border-0">
        <p class="card-description text-center d-flex align-items-center justify-content-center">
          <span class="footer-text">A bientôt sur Dressing FMR.</span>
          <i class="far fa-smile-wink ml-2" style="font-size: 25px; color: #ffcd6e;"></i></p>
        <img class="mr-3 mb-2" src="assets/img/logo/logo.png" alt="" width="70">
      </div>
    </div>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"
      class="btn btn-rounded btn-primary btn-lg btn-block mb-3">Retour à l'accueil</a>
  </div>

</div>
