<app-loader [state]="isLoading()"></app-loader>
<!-- App Header -->
<div class="appHeader no-border transparent" style="z-index: 111111;">
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="arrow-forward-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- * App Header -->
<!-- App Capsule -->
<div id="appCapsule" class="content d-flex flex-column justify-content-center">
  <div class="section content-form">
    <h1 class="text-primary my-0" style="font-size: 40px;">S'inscrire</h1>
    <h3 class="mb-3 text-secondary" style="font-weight: 500;">Créer un compte</h3>
    <form [formGroup]="registerForm">
      <div class="step-1" *ngIf="showStep1" style="height: 250px;">
        <div class="form-group basic">
          <div class="input-wrapper">
            <input type="email" formControlName="email" class="form-control" id="email1" placeholder="Email">
            <i class="clear-input">
              <ion-icon name="close-circle"></ion-icon>
            </i>
          </div>
        </div>
        <div class="form-group basic">
          <div class="input-wrapper">
            <input type="text" formControlName="firstName" class="form-control" id="name4" placeholder="Prénom">
          </div>
        </div>
        <div class="custom-control custom-checkbox mt-2 mb-3">
          <input type="checkbox" formControlName="newsletters" class="custom-control-input" id="customChecka1">
          <label class="custom-control-label" for="customChecka1" style="text-align: left;">
            Inscrivez-vous à nos newsletters pour recevoir des sélections personnalisées, des offres exclusives et
            toutes nos actualités.
          </label>
        </div>


      </div>
      <div class="step-2 animate__animated animate__fadeInRight" *ngIf="showStep2" style="height: 250px;">

        <div class="form-group basic">
          <div class="input-wrapper">
            <input type="{{inputType}}" formControlName="password" class="form-control" id="password1"
              placeholder="Mot de passe">
            <ion-icon name="eye" (click)="showPassword()" class="input-eye text-primary"></ion-icon>
          </div>
        </div>
        <div class="form-group basic">
          <div class="input-wrapper">
            <input type="{{inputType}}" formControlName="confirmPassword" class="form-control" id="password1"
              placeholder="Confirmer mot de passe">
            <ion-icon name="eye" (click)="showPassword()" class="input-eye text-primary"></ion-icon>
          </div>
        </div>
        <div class="custom-control custom-checkbox mt-2 mb-3">
          <input type="checkbox" formControlName="cgi" class="custom-control-input" id="customChecka1">
          <label class="custom-control-label" for="customChecka1" style="text-align: left;">
            En m'inscrivant, <a href="#" data-toggle="modal" data-target="#termsModal">j'accepte les Conditions
              générales
              d'utilisation</a> et la Politique de Confidentialité de Dressing fmr
          </label>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-2 mb-1">
        <button class="btn-connect bg-primary mr-1 animate__animated animate__pulse animate__infinite"
          style="font-size: 20px;" *ngIf="showStep1" (click)="initStep('showStep2')">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>

        <a (click)="onSubmit()" *ngIf="showStep2"
          class="btn-connect bg-primary mr-1 animate__animated animate__pulse animate__infinite"
          style="font-size: 20px;">
          <ion-icon name="checkmark-outline" class="text-white"></ion-icon>
        </a>
      </div>

    </form>
  </div>
  <div class="section">
    <button type="button" class="btn btn-rounded btn-block btn-lg btn-social facebook text-white">
      <ion-icon name="logo-facebook" class="mr-2"></ion-icon>
      S'inscrire avec Facebook
    </button>
    <button type="button" class="btn btn-rounded btn-block btn-lg btn-social google mb-1">
      <img src="assets/img/auth/google.png" width="20" class="mr-2" alt="">
      S'inscrire avec Google
    </button>
  </div>
</div>
<!-- * App Capsule -->

<div class="modal fade modalbox" id="termsModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CGV</h5>
        <a href="#" data-dismiss="modal">Close</a>
      </div>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum, urna eget finibus
          fermentum, velit metus maximus erat, nec sodales elit justo vitae sapien. Sed fermentum
          varius erat, et dictum lorem. Cras pulvinar vestibulum purus sed hendrerit. Praesent et
          auctor dolor. Ut sed ultrices justo. Fusce tortor erat, scelerisque sit amet diam rhoncus,
          cursus dictum lorem. Ut vitae arcu egestas, congue nulla at, gravida purus.
        </p>
        <p>
          Donec in justo urna. Fusce pretium quam sed viverra blandit. Vivamus a facilisis lectus.
          Nunc non aliquet nulla. Aenean arcu metus, dictum tincidunt lacinia quis, efficitur vitae
          dui. Integer id nisi sit amet leo rutrum placerat in ac tortor. Duis sed fermentum mi, ut
          vulputate ligula.
        </p>
        <p>
          Vivamus eget sodales elit, cursus scelerisque leo. Suspendisse lorem leo, sollicitudin
          egestas interdum sit amet, sollicitudin tristique ex. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Phasellus id ultricies eros. Praesent
          vulputate interdum dapibus. Duis varius faucibus metus, eget sagittis purus consectetur in.
          Praesent fringilla tristique sapien, et maximus tellus dapibus a. Quisque nec magna dapibus
          sapien iaculis consectetur. Fusce in vehicula arcu. Aliquam erat volutpat. Class aptent
          taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
      </div>
    </div>
  </div>
</div>
