.content {
  padding: 0 !important;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
  background: rgb(221, 209, 182);
  background: linear-gradient(0deg, rgba(221, 209, 182, 1) 0%, rgba(255, 255, 255, 1) 100%);

  .content-form {
    background: white;
    text-align: center;
    border-top: 8px solid #dfd3b9;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 9%);

    .form-button-group {
      a {
        background: #fff !important;
        border-color: #DDD1B6 !important;
        color: #DDD1B6 !important;
      }
    }
  }
}
