<!-- App Header -->
<div class="appHeader">
  <div class="left">
  </div>
  <div class="pageTitle">
    Profil de <span style="text-transform: capitalize;">{{user?.firstname}}</span>
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- Extra Header -->
<div class="extraHeader pr-0 pl-0">
  <ul class="nav nav-tabs lined" role="tablist">
    <li class="nav-item">
      <a class="nav-link {{!isCatalogArt() ? 'active' : ''}}" data-toggle="tab" href="#mode" role="tab">
        Dressing
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isCatalogArt() ? 'active' : ''}}" data-toggle="tab" href="#art" role="tab">
        Galerie
      </a>
    </li>
  </ul>
</div>
<!-- * Extra Header -->
<!-- App Capsule -->
<div id="appCapsule" class="extra-header-active">
  <div class="section full gradientSection">
    <div class="in coin-head">
      <div class="d-flex align-items-center justify-content-center">
        <img src="{{getUserImgProfile(user)}}" class="imaged w48 rounded mr-05" alt="">
        <h1 class="total my-0 ml-1 d-flex flex-column justify-content-start align-items-center"><span
            style="text-transform: capitalize;">{{user?.firstname}}</span>
          <span class="badge badge-light">{{getCountryUserProfile(user?.deliveryAddress)}}</span></h1>
      </div>
      <div class="d-flex align-items-center justify-content-around mt-2">
        <a class="chip chip-media bg-white" data-toggle="modal" data-target="#followersModal">
          <i class="chip-icon bg-primary">
            <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
          </i>
          <span class="chip-label w-100"><span class="number" style="font-size: 11px;">{{nbFollowers}}</span>
            {{nbFollowers <= 1 ? 'Abonné' : 'Abonnés'}}</span>
        </a>
        <a class="chip chip-media bg-white" data-toggle="modal" data-target="#subscriptionsModal">
          <i class="chip-icon bg-primary">
            <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
          </i>
          <span class="chip-label w-100"><span class="number" style="font-size: 11px;">{{nbSubscriptions}}</span>
            {{nbSubscriptions <= 1 ? 'Abonnement' : 'Abonnements'}}</span>
        </a>
        <button (click)="followProfile(user)" class="btn btn-primary btn-icon" *ngIf="!isMyProfile()">
          <ion-icon name="person-add" style="font-size: 20px;"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="tab-content mt-1">
    <!-- Mode tab -->
    <div class="tab-pane fade {{!isCatalogArt() ? 'active show' : ''}}" id="mode" role="tabpanel">
      <div class="section full mt-2">
        <div class="section-title">Mes articles</div>
        <div class="wide-block pt-1 pb-4 border-0" style="background: #ededf5;">
          <ul class="nav nav-tabs style1" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#homme" role="tab">
                Homme
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#femme" role="tab">
                Femme
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#enfant" role="tab">
                Enfant
              </a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="homme" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let product of productsMens; trackBy:trackById">
                  <div class="col-6 mb-2">
                    <app-card-product [product]="product" [productId]="product.id"></app-card-product>
                  </div>
                </ng-container>
                <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
                  *ngIf="productsMens.length === 0">
                  <p style="font-size: large;">Aucun article disponible</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="femme" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let product of productsWomens; trackBy:trackById">
                  <div class="col-6 mb-2">
                    <app-card-product [product]="product" [productId]="product.id"></app-card-product>
                  </div>
                </ng-container>
                <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
                  *ngIf="productsWomens.length === 0">
                  <p style="font-size: large;">Aucun article disponible</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="enfant" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let product of productsKids; trackBy:trackById">
                  <div class="col-6 mb-2">
                    <app-card-product [product]="product" [productId]="product.id"></app-card-product>
                  </div>
                </ng-container>
                <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
                  *ngIf="productsKids.length === 0">
                  <p style="font-size: large;">Aucun article disponible</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade {{isCatalogArt() ? 'active show' : ''}}" id="art" role="tabpanel">
      <div class="section full mt-2">
        <div class="section-title">Mes articles</div>
        <div class="wide-block pt-1 pb-4 border-0" style="background: #ededf5;">
          <div class="row">
            <ng-container *ngFor="let product of productsArt; trackBy:trackById">
              <div class="col-6 mb-2">
                <app-card-product [product]="product" [productId]="product.id"></app-card-product>
              </div>
            </ng-container>
            <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
              *ngIf="productsArt.length === 0">
              <p style="font-size: large;">Aucun article disponible</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<div class="modal fade modalbox" id="followersModal" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Abonnés</h5>
        <a href="#" class="d-flex" data-dismiss="modal">
          <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
        </a>
      </div>
      <div class="modal-body py-2" style="background: #EDEDF5;">
        <div class="section full mt-1 mb-2">
          <ul class="listview image-listview inset" *ngIf="hasFollowers(followers)">
            <li *ngFor="let follower of followers">
              <a [routerLink]="['/profile', follower.id]" class="item" data-dismiss="modal">
                <img src="{{getUserImgProfile(follower)}}" alt="image" class="image">
                <div class="in">
                  <div>
                    {{follower.firstname | titlecase}}
                    <footer>{{getCountryUserProfile(follower?.deliveryAddress)}}</footer>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <p class="text-center p-3" style="font-size: 18px;" *ngIf="!hasFollowers(followers)">Aucun abonné</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modalbox" id="subscriptionsModal" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Abonnements</h5>
        <a href="#" class="d-flex" data-dismiss="modal">
          <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
        </a>
      </div>
      <div class="modal-body py-2" style="background: #EDEDF5;">
        <div class="section full mt-1 mb-2">
          <ul class="listview image-listview inset" *ngIf="hasSubscribers(subscribers)">
            <li *ngFor="let subscriber of subscribers">
              <a [routerLink]="['/profile', subscriber.id]" class="item" data-dismiss="modal">
                <img src="{{getUserImgProfile(subscriber)}}" alt="image" class="image">
                <div class="in">
                  <div>
                    {{subscriber.firstname | titlecase}}
                    <footer>{{getCountryUserProfile(subscriber?.deliveryAddress)}}</footer>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <p class="text-center p-3" style="font-size: 18px;" *ngIf="!hasSubscribers(subscribers)">Aucun abonnement</p>
        </div>
      </div>
    </div>
  </div>
</div>
