 <!-- App Capsule -->
 <div id="appCapsule">

   <div class="section mt-3 text-center">
     <div class="avatar-section">
       <a href="#">
         <img src="assets/img/sample/avatar/avatar4.jpg" alt="avatar" class="imaged w100 rounded">
         <span class="button">
           <ion-icon name="camera-outline"></ion-icon>
         </span>
       </a>
     </div>
   </div>

   <div class="listview-title mt-1">Theme</div>
   <ul class="listview image-listview inset no-line">
     <li>
       <div class="item">
         <div class="in">
           <div>
             Mode sombre

             {{darkMode}}
           </div>
           <div class="custom-control custom-switch">
             <input type="checkbox" class="custom-control-input" id="customSwitch3" (click)="showDarkTheme()" [(ngModel)]="darkMode" />
             <label class="custom-control-label" for="customSwitch3"></label>
           </div>
         </div>
       </div>
     </li>
   </ul>

   <div class="listview-title mt-1">Notifications</div>
   <ul class="listview image-listview inset">
     <li>
       <div class="item">
         <div class="in">
           <div>
             Paiement alerte
             <div class="text-muted" style="font-size: 14px;">
              Envoyer une notification dès la réception d'un nouveau paiement
             </div>
           </div>
           <div class="custom-control custom-switch">
             <input type="checkbox" class="custom-control-input" id="customSwitch4" checked />
             <label class="custom-control-label" for="customSwitch4"></label>
           </div>
         </div>
       </div>
     </li>
     <li>
       <a href="#" class="item">
         <div class="in">
           <div>Son notification</div>
           <span class="text-primary">Beep</span>
         </div>
       </a>
     </li>
   </ul>

   <div class="listview-title mt-1">Profil</div>
   <ul class="listview image-listview inset">
     <li>
       <a href="#" class="item">
         <div class="in">
           <div>Voir mon profil</div>
         </div>
       </a>
     </li>
     <li>
       <a href="#" class="item">
         <div class="in">
           <div>Modifier mon pseudo</div>
         </div>
       </a>
     </li>
     <li>
       <a href="#" class="item">
         <div class="in">
           <div>Adresse</div>
           <span class="text-primary">Modifier</span>
         </div>
       </a>
     </li>
   </ul>

   <div class="listview-title mt-1">Sécurité</div>
   <ul class="listview image-listview inset mb-4">
     <li>
       <a href="#" class="item">
         <div class="in">
           <div>Modifier le mot de passe</div>
         </div>
       </a>
     </li>
     <li>
       <a href="#" class="item">
         <div class="in">
           <div>Déconnexion</div>
         </div>
       </a>
     </li>
   </ul>


 </div>
 <!-- * App Capsule -->
