.gradientSection {
  position: relative;
  text-align: center;
  background: #ddd1b6;
  background-image: linear-gradient(0deg, #ededf5 0%, #ddd1b6 100%);

  .in {
    position: relative;
    z-index: 10;
    padding: 25px 16px 70px 16px;
  }

  .total {
    letter-spacing: -0.01em;
    font-size: 32px;
  }

  .caption {
    font-size: 20px;
    font-weight: 300;
  }
}

.section-title {
  margin: 0;
  font-size: 20px;
  line-height: 1em;
  padding-right: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.image-overflow {
  width: 100%;
  height: 150px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.section-big-img {
  width: 100%;
  margin-top: -50px;

  .avatar-section {
    width: 100%;

    .custom-file-upload {
      width: 100%;
      height: 214px;
      border-radius: 10px;
      border: 5px solid white;

      label {
        background: transparent;
      }
    }
  }

}
