.total {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.ariane-fil {
  margin-bottom: 20px;

  ion-icon {
    color: #ddd1b6;
    font-size: 15px;
  }

  h2.active {
    background: #ddd1b6;
    color: white;

    ion-icon {
      color: white;
      margin-right: 10px;
    }

  }

  h2 {
    border: 2px solid #ddd1b6;
    background: white;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #ddd1b6;
    padding: 10px 20px;
    border-radius: 30px;

    ion-icon {
      color: #ddd1b6;
      margin-right: 10px;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 420px) {
    h2.active {
      ion-icon {
        margin: 0;
      }
    }

    h2 {
      ion-icon {
        margin: 0;
      }
    }

    span {
      display: none;
    }
  }
}


.section-title {
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.transactions {
  .item {
    padding: 10px 15px;

    p {
      font-size: 18px;
    }
  }

  .price {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  .total-cart {
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 9%);
    padding: 20px 24px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 61px;
    width: 100%;
    left: 0;

    p {
      font-size: 18px;
    }
  }
}

.imageWrapper {
  width: 65px;
  height: 65px;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.fsize-16 {
  font-size: 16px !important;
}

.fsize-15 {
  font-size: 15px !important;
}

.btn-connect {
  padding: 5px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid #ddd1b6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
