 <!-- App Capsule -->
 <div id="appCapsule">

   <div class="section mt-2 mb-2">


     <div class="listed-detail mt-3">
       <h1 class="text-center mt-2 mb-2">Mon panier</h1>
     </div>

     <ul class="listview image-listview media inset mb-2 mx-0">
       <li>
         <div class="item">
           <div class="imageWrapper">
             <img src="assets/img/annonce/sacs/sneakers.jpeg" alt="image" class="imaged w64">
           </div>
           <div class="in">
             <div class="fsize-16">
               BALENCIAGA
               <div class="text-muted fsize-15">Sneakers</div>
             </div>
             <span class="text-dark number">650,00 €</span>
           </div>
         </div>
       </li>
       <li>
         <div class="item">
           <div class="imageWrapper">
             <img src="assets/img/annonce/sacs/sacdior.jpeg" alt="image" class="imaged w64">
           </div>
           <div class="in">
             <div class="fsize-16">
               DIOR
               <div class="text-muted fsize-15">Sac en main en toile</div>
             </div>
             <span class="text-dark number">2327,00 €</span>
           </div>
         </div>
       </li>
       <li>
         <div class="item">
           <div class="imageWrapper">
             <img src="assets/img/annonce/sacs/saclv.jpeg" alt="image" class="imaged w64">
           </div>
           <div class="in">
             <div class="fsize-16">
               LOUIS VUITTON
               <div class="text-muted fsize-15">Sac à bandoulière</div>
             </div>
             <span class="text-dark number">1995,00 €</span>
           </div>
         </div>
       </li>
       <li>
         <div class="item">
           <div class="imageWrapper">
             <img src="assets/img/annonce/sacs/bonnet.jpeg" alt="image" class="imaged w64">
           </div>
           <div class="in">
             <div class="fsize-16">
               CHANEL
               <div class="text-muted fsize-15">Bonnet en cachemire</div>
             </div>
             <span class="text-dark number">315,00 €</span>
           </div>
         </div>
       </li>
     </ul>

     <div class="section mt-2 px-0">
       <div class="transactions">
         <div class="total-cart mt-5">
           <div class="d-flex justify-content-between align-items-center">
             <div class="detail mb-3">
               <div>
                 <p class="my-0">Sous-total</p>
                 <h2 class="my-0 text-dark">Total</h2>
               </div>
             </div>
             <div class="right mb-3">
               <div class="price">5287,00 €</div>
               <h2 class="price" style="font-size: 16px;">5287,00 €</h2>
             </div>
           </div>
           <a [routerLink]="['/checkout']" routerLinkActive="router-link-active"
             class="btn-lg btn-primary btn-block btn">Payer</a>
         </div>
       </div>
     </div>

   </div>

 </div>
 <!-- * App Capsule -->
