<app-loader [state]="isLoading()"></app-loader>
<!-- App Header -->
<div class="appHeader">
  <div class="left">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" class="text-primary"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    Catégories
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- Extra Header -->
<div class="extraHeader pr-0 pl-0">
  <ul class="nav nav-tabs lined" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#mode" role="tab">
        Mode
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#art" role="tab">
        Art
      </a>
    </li>
  </ul>
</div>
<!-- * Extra Header -->


<!-- App Capsule -->
<div id="appCapsule" class="extra-header-active">
  <div class="tab-content mt-1">
    <!-- pilled tab -->
    <div class="tab-pane fade active show" id="mode" role="tabpanel">

      <div class="section full">
        <div class="wide-block pt-2 pb-2" style="background: #EDEDF5; border: none;">

          <ul class="nav nav-tabs style1" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#homme" role="tab">
                Homme
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#femme" role="tab">
                Femme
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#enfant" role="tab">
                Enfant
              </a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="homme" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let category of categories; trackBy:trackById">
                  <div class="col-6 mb-2" *ngIf="isCategoryMode(category)">
                    <a [routerLink]="['/shop', {catalogType: category.type, category: category.url}]"
                      routerLinkActive="router-link-active">
                      <div class="blog-card">
                        <div class="item-categories">
                          <app-image [src]="category.img"></app-image>
                        </div>
                        <div class="bill-box">
                          <h1 style="font-size: 14px; text-transform: uppercase;">{{category.name}}</h1>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="tab-pane fade" id="femme" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let category of categories; trackBy:trackById">
                  <div class="col-6 mb-2" *ngIf="isCategoryMode(category)">
                    <a [routerLink]="['/shop', {catalogType: category.type, category: category.url}]"
                      routerLinkActive="router-link-active">
                      <div class="blog-card">
                        <div class="item-categories">
                          <app-image [src]="category.img"></app-image>
                        </div>
                        <div class="bill-box">
                          <h1 style="font-size: 14px; text-transform: uppercase;">{{category.name}}</h1>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="tab-pane fade" id="enfant" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let category of categories; trackBy:trackById">
                  <div class="col-6 mb-2" *ngIf="isCategoryMode(category)">
                    <a [routerLink]="['/shop', {catalogType: category.type, category: category.url}]"
                      routerLinkActive="router-link-active">
                      <div class="blog-card">
                        <div class="item-categories">
                          <app-image [src]="category.img"></app-image>
                        </div>
                        <div class="bill-box">
                          <h1 style="font-size: 14px; text-transform: uppercase;">{{category.name}}</h1>
                        </div>
                      </div>
                    </a>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- * pilled tab -->

    <!-- lined tab -->
    <div class="tab-pane fade" id="art" role="tabpanel">
      <div class="section full">
        <div class="wide-block pt-2 pb-2" style="background: #EDEDF5; border: none;">
          <div class="row">
            <ng-container *ngFor="let category of categories; trackBy:trackById">
              <div class="col-6 mb-2" *ngIf="isCategoryArt(category)">
                <a [routerLink]="['/shop', {catalogType: category.type, category: category.url}]"
                  routerLinkActive="router-link-active">
                  <div class="blog-card">
                    <div class="item-categories">
                      <app-image [src]="category.img"></app-image>
                    </div>
                    <div class="bill-box">
                      <h1 style="font-size: 14px; text-transform: uppercase;">{{category.name}}</h1>
                    </div>
                  </div>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
    <!-- * lined tab -->
  </div>
</div>
<!-- * App Capsule -->
