<!-- item -->
<div class="item position-relative">
  <div class="blog-card">
    <a [routerLink]="['/product-detail', product.id]" routerLinkActive="router-link-active">
      <div class="image-overflow">
        <app-image [src]="product.img.photoFace"></app-image>
      </div>
      <div class="bill-box">
        <h1 style="font-size: 14px; text-transform: uppercase;">{{product.brand}}</h1>
        <p class="desc-product">{{product.model}}</p>
        <div class="chip chip-media">
          <i class="chip-icon bg-primary">
            <ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="alarm outline">
            </ion-icon>
          </i>
          <span class="chip-label number pr-0 origin-price"
            [ngClass]="{'falling-price-origin': isFallingPrice(product)}">{{product.amount.price | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
          <span class="text-danger number d-none"
            [ngClass]="{'falling-price-new d-block': isFallingPrice(product)}">{{product.amount.fallingPrice | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
        </div>
      </div>
    </a>
  </div>
</div>
<!-- * item -->
