.content {
  padding: 0 !important;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
  background: white;
  // background: rgb(221, 209, 182);
  // background: linear-gradient(0deg, rgba(221, 209, 182, 1) 0%, rgba(255, 255, 255, 1) 100%);

  .content-form {
    text-align: center;
    margin: 16px;
    border-radius: 25px;

    .form-control {
      background-color: #ddd1b624;
    }

    .btn-connect {
      padding: 5px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 3px solid #ddd1b6;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
    }

    .form-button-group {
      a {
        background: #fff !important;
        border-color: #DDD1B6 !important;
        color: #DDD1B6 !important;
      }
    }
  }

  .btn-social {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 9%) !important;
  }

  .google {
    color: #a0a0a0;
  }

  .facebook {
    background-color: #1b77f2;
  }

  &::after {
    content: "";
    background: url('../../../../../assets/img/bkg.svg') no-repeat top center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
  }
}
