<app-header-post [title]="'Confirmation de dépot'"></app-header-post>


<div id="appCapsule">
  <div class="section inset" style="margin-top: 50px;">
    <div class="bloc-img animate__animated animate__bounceIn animate__delay-1s">
      <img class="imaged w76" src="assets/img/checked.png" alt="">
    </div>
    <div class="card card-user animate__animated animate__bounceInDown">
      <div class="card-body">
        <div class="content-card">
          <h2 class="text-center mt-2">C'est fait <span
              style="text-transform: capitalize;">{{currentUser.firstname}}</span> !</h2>
          <div class="image-upload">
            <app-image [src]="product?.photoFace"></app-image>
          </div>
          <p class="card-description mb-3 text-secondary">
            Le dépôt de votre article a été effectué avec succès, après étude nous reviendrons vers vous pour vous
            confirmer sa mise en ligne ou si nous avons besoin d'éléments supplémentaires.
          </p>
          <p class="card-description mt-2 text-secondary">
            N'hésitez pas à nous contacter pour toutes questions concernant votre dépôt.
          </p>
        </div>
      </div>
      <div class="card-footer text-center mt-3 border-0">
        <p class="card-description text-center d-flex align-items-center justify-content-center text-secondary">
          <span class="footer-text">A bientôt sur FMR Life.</span>
        </p>
        <img class="mr-3 mb-2" src="assets/img/logo/logo.png" alt="" width="70">
      </div>
    </div>
  </div>

</div>
