<!-- App Header -->
<div class="appHeader">
  <div class="left">
    <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" class="text-primary"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    Confirmation de dépot
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- * App Header -->


<div id="appCapsule">
  <div class="section inset" style="margin-top: 100px;">
    <div class="bloc-img animate__animated animate__bounceIn animate__delay-1s">
      <img class="imaged w86" src="assets/img/checked.png" alt="">
    </div>
    <div class="card card-user animate__animated animate__bounceInDown">
      <div class="card-body">
        <div class="content-card">
          <h2 class="text-center mt-2">C'est fait {{currentUser.firstname}} !</h2>
          <p class="card-description mb-3 text-secondary">
            Le dépôt de votre annonce a été effectué avec succès, après étude nous reviendrons vers vous pour vous
            confirmer sa mise en ligne ou si nous avons besoin d'éléments supplémentaires.
          </p>
          <p class="card-description mt-2 text-secondary">
            N'hésitez pas à nous contacter pour toutes questions concernant votre dépôt.
          </p>
        </div>
      </div>
      <div class="card-footer text-center mt-3 border-0">
        <p class="card-description text-center d-flex align-items-center justify-content-center text-secondary">
          <span class="footer-text">A bientôt sur Dressing FMR.</span>
        </p>
        <img class="mr-3 mb-2" src="assets/img/logo/logo.png" alt="" width="70">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a [routerLink]="['/post']" routerLinkActive="router-link-active"
        class="btn-connect bg-primary animate__animated animate__pulse animate__infinite">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
    </div>
  </div>

</div>
