#appCapsule {
  padding: 56px 0 100px;

}

.chatFooter .form-group {
  width: 85%;
}

.btn-icon {
  width: 30px;
  height: 30px;
  padding: 0;
}

.form-group.basic .form-control,
.form-group.basic .custom-select {
  padding: 0.375rem 0.75rem;
}
