<!-- App Header -->
<div class="appHeader">
  <div class="left">
    <a [routerLink]="['/settings']" routerLinkActive="router-link-active" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" class="text-primary"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    FAQ
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
  <div class="section text-center mt-2">
    <h2>FAQ</h2>
  </div>

  <div class="section full mt-2 px-3">

    <div class="accordion border-0" id="accordionExample1" style="border-radius: 10px;">

      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1">
            Comment vendre un article ?
          </button>
        </div>
        <div id="accordion1" class="accordion-body collapse" data-parent="#accordionExample1">
          <div class="accordion-content">
            Il n'y a pas de frais lorsque tu mets des articles en ligne ou les vends sur Vinted. Cela signifie que
            lorsqu’une vente est conclue avec succès, tu reçois directement le montant que tu as fixé pour ton article
          </div>
        </div>
      </div>

      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion2">
            Dans quels délais le vendeur doit-il envoyer mon article ?
          </button>
        </div>
        <div id="accordion2" class="accordion-body collapse" data-parent="#accordionExample1">
          <div class="accordion-content">
            Les vendeurs ont jusqu'à 7 jours pour envoyer l'article, où nos
            experts le vérifieront avant de vous l'envoyer à votre adresse dans les ⏰ 48 heures.

            💡 Bon à savoir: Si votre article n’est pas expédié au bout de ⏰ 7 jours (15 jours si votre vendeur se situe
            en DOM-TOM, Norvège, Amérique du Sud, Afrique du Sud, Moyen-Orient, Asie sauf Hong-Kong et Singapour), vous
            êtes remboursé(e) automatiquement.
          </div>
        </div>
      </div>

      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion3">
            Droits de douane et modalités de paiement
          </button>
        </div>
        <div id="accordion3" class="accordion-body collapse" data-parent="#accordionExample1">
          <div class="accordion-content">
            Les commandes passées d'un pays à l'autre sont généralement assorties de frais de douane, ou de frais et de
            taxes d'importation.

            Dans la mesure du possible, la TVA, les frais de douane, et les frais de traitement applicables apparaîtront
            automatiquement au moment du règlement sous la rubrique "Droits de douane et frais d’importation".

            Dans certains cas, cependant, des autorités douanières indépendantes peuvent vous contacter pour demander le
            paiement des frais de douane. Dans ce cas, ces frais de douane vous incombent.

            ❗Important ❗Selon la localisation de votre entrepôt Vestiaire Collective le plus proche, l'article est
            susceptible de devoir traverser une frontière internationale pour être soumis à l'authentification ainsi
            qu'au contrôle qualité. Cela pourrait entraîner des restrictions douanières affectant votre capacité à
            passer la commande et modifier le montant des frais de douanes appliqués à votre commande.

            🔍 Cliquez ici pour plus découvrir dans quels cas un coursier pourrait vous contacter pour plus
            d'informations.

            Que se passe-t-il si les frais de douane ne sont pas réglés ?

            Le colis nous sera renvoyé. Une fois que nous l'aurons reçu, nous déposerons l'article sur votre compte pour
            le remettre en vente. Une fois l'article vendu, nous l'expédierons à l'acheteur et vous recevrez les
            bénéfices de la vente.
          </div>
        </div>
      </div>

      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion4">
            L'article que j'ai reçu ne correspond pas à sa description
          </button>
        </div>
        <div id="accordion4" class="accordion-body collapse" data-parent="#accordionExample1">
          <div class="accordion-content">
            Si vous avez reçu un article d'un vendeur particulier qui ne répond pas à vos attentes ou si vous avez
            changé d'avis, vous pouvez remettre la pièce en vente, sans frais, jusqu'à ⏰ 72 heures après sa réception.
            Vous recevrez l'intégralité des bénéfices de la revente. Pour savoir comment remettre en vente votre
            article, 🔍 cliquez ici.

            Si vous pensez que l’article authentifié que vous avez reçu ne correspond pas à sa description, veuillez
            contacter notre service client. Notre équipe se fera un plaisir de l’examiner pour vous.
          </div>
        </div>
      </div>

      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion4">
            Le transporteur a perdu mon colis
          </button>
        </div>
        <div id="accordion4" class="accordion-body collapse" data-parent="#accordionExample1">
          <div class="accordion-content">
            <pre style="font-size: 10px; line-height: 10px;">
  Paiements
  Expédition et livraison
  Retours et annulations
  Le transporteur a perdu mon colis
  Nous savons qu'il est parfois frustrant d'attendre qu'un article arrive, et nous ferons tout notre possible
  pour résoudre tout problème de livraison.

  Si les informations de suivi de votre article expédié n'ont pas été actualisées depuis plus de 2 jours
  ouvrables, nous pouvons examiner votre situation avec la compagnie de transport.

  Pour nous permettre de traiter votre demande le plus rapidement possible, veuillez préparer les documents
  suivants avant de cliquer ici 🔍 pour nous contacter :

  Une déclaration sur l'honneur, dans laquelle vous certifiez clairement ne pas avoir reçu votre colis.
  Veuillez inclure les informations suivantes dans la déclaration :
  La date
  Votre nom complet
  L'adresse de livraison
  Le numéro de suivi de votre article
  Votre signature
  Une photo ou un scan d'une pièce d'identité en cours de validité.
  Vous pouvez nous envoyer des photographies ou des scans lisibles et clairs de ces documents.

  💡 Bon à savoir : Pour que le transporteur puisse rechercher efficacement votre colis, vous devez nous
  contacter dans les 14 jours suivant l'expédition.
</pre>
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="section mt-3 mb-3">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <h2 class="card-title">Vous ne trouvez pas réponse à vos questions ?</h2>
        <p class="card-text">
          Contactez-nous
        </p>
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="btn btn-light btn-icon">
          <ion-icon name="mail-open-outline" class="text-secondary"></ion-icon>
        </a>
      </div>
    </div>
  </div>

</div>
<!-- * App Capsule -->
