  <!-- App Header -->
  <div class="appHeader">
    <div class="left">
      <a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">
        <ion-icon name="reorder-two-outline"></ion-icon>
      </a>
    </div>
    <div class="pageTitle">
      <a href="#">
        <img src="assets/img/logo.png" alt="logo" class="logo">
      </a>
    </div>
    <div class="right">
      <a [routerLink]="['/settings']" routerLinkActive="router-link-active"  class="headerButton" *ngIf="isUserConnected()">
        <img src="{{currentUser.img.avatar}}" alt="image" class="imaged rounded w32">
        <span class="badge badge-danger">6</span>
    </a>
    </div>
  </div>
  <!-- * App Header -->


  <!-- App Sidebar -->
  <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <!-- profile box -->
          <div class="profileBox pt-2 pb-2" style="min-height: 68px;">
            <div class="image-wrapper">
              <img src="{{currentUser.img.avatar}}" alt="image" class="imaged rounded w36" *ngIf="isUserConnected()">
            </div>
            <div class="in">
              <strong>{{currentUser?.firstname}}</strong>
            </div>
            <a href="#" class="btn btn-link btn-icon sidebar-close" data-dismiss="modal">
              <ion-icon name="close-outline"></ion-icon>
            </a>
          </div>
          <!-- * profile box -->
          <!-- balance -->
          <div class="sidebar-balance">
            <div class="listview-title">Total Panier</div>
            <div class="in">
              <h1 class="amount">{{ getTotalTTC() | currency:'EUR':'symbol':'1.2-2':'fr' }}</h1>
            </div>
          </div>
          <!-- * balance -->

          <!-- action group -->
          <div class="action-group">
            <a [routerLink]="['/cart']" routerLinkActive="router-link-active" class="action-button"
              data-dismiss="modal">
              <div class="in">
                <div class="iconbox">
                  <ion-icon name="bag-outline"></ion-icon>
                </div>
                Panier
              </div>
            </a>
            <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="action-button"
              data-dismiss="modal">
              <div class="in">
                <div class="iconbox">
                  <ion-icon name="add-outline"></ion-icon>
                </div>
                Vendre
              </div>
            </a>
            <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="action-button"
              data-dismiss="modal">
              <div class="in">
                <div class="iconbox">
                  <ion-icon name="search-outline"></ion-icon>
                </div>
                Acheter
              </div>
            </a>
          </div>
          <!-- * action group -->

          <!-- menu -->
          <div class="listview-title mt-1">Menu</div>
          <ul class="listview flush transparent no-line image-listview">
            <li *ngIf="isUserConnected()">
              <a [routerLink]="['/notifications']" routerLinkActive="router-link-active" class="item"
                data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div>
                <div class="in">
                  Notifications
                  <span class="badge badge-primary">10</span>
                </div>
              </a>
            </li>
            <li>
              <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="grid-outline"></ion-icon>
                </div>
                <div class="in">
                  Catégories
                </div>
              </a>
            </li>
            <li>
              <a [routerLink]="['/shop', { type: 'news' }]" routerLinkActive="router-link-active" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="bookmark-outline"></ion-icon>
                </div>
                <div class="in">
                  Nouveautés
                </div>
              </a>
            </li>
            <li>
              <a [routerLink]="['/shop', { type: 'falling-price' }]" routerLinkActive="router-link-active" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="arrow-down-outline"></ion-icon>
                </div>
                <div class="in">
                  Baisse de prix
                </div>
              </a>
            </li>
          </ul>
          <!-- * menu -->

          <!-- others -->
          <div class="listview-title mt-1">Autres</div>
          <ul class="listview flush transparent no-line image-listview">
            <li *ngIf="isUserConnected()">
              <a [routerLink]="['/profile']" routerLinkActive="router-link-active" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="in">
                  Profil
                </div>
              </a>
            </li>
            <li *ngIf="!isUserConnected()">
              <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="in">
                  Se connecter
                </div>
              </a>
            </li>
            <li *ngIf="isUserConnected()">
              <a [routerLink]="['/settings']" routerLinkActive="router-link-active" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="cog-outline"></ion-icon>
                </div>
                <div class="in">
                  Paramètres
                </div>
              </a>
            </li>
            <li>
              <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="mail-outline"></ion-icon>
                </div>
                <div class="in">
                  Contact
                </div>
              </a>
            </li>
            <li *ngIf="isUserConnected()">
              <a (click)="logout()" class="item" data-dismiss="modal">
                <div class="icon-box bg-primary">
                  <ion-icon name="log-out-outline"></ion-icon>
                </div>
                <div class="in">
                  Déconnexion
                </div>
              </a>
            </li>
          </ul>
          <!-- * others -->

        </div>
      </div>
    </div>
  </div>
  <!-- * App Sidebar -->
