<app-header></app-header>
<app-loader [state]="isLoading()"></app-loader>
<!-- App Capsule -->
<div id="appCapsule">

  <div class="section full">

    <owl-carousel-o [options]="carouselFullOptions">
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide1.png"></app-image>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide2.png"></app-image>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide3.png"></app-image>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
  <!-- Wallet Card -->
  <div class="section position-absolute" style="top: 280px; width: 100%;">
    <div class="wallet-card">
      <!-- Balance -->
      <div class="balance my-0">
        <div class="left">
          <h6 class="title-box">Découvrez l'univers</h6>
          <span class="title">de l'art et de la mode éphémères.</span>
        </div>
      </div>
      <!-- * Balance -->
    </div>
  </div>
  <!-- Wallet Card -->

  <!-- Categories -->
  <div class="section full mt-4" style="margin-top: 70px !important;">
    <div class="section-heading padding">
      <h2 class="title">Catégories</h2>
      <a [routerLink]="['/categories']" routerLinkActive="active" class="link">Tout voir</a>
    </div>
    <owl-carousel-o [options]="carouselSmallOptions">
      <ng-container *ngFor="let category of categories; trackBy:trackById">
        <ng-template carouselSlide>
          <!-- item -->
          <div class="item">
            <a [routerLink]="['/shop', {catalogType: category.type, category: category.url}]"
              routerLinkActive="router-link-active">
              <div class="user-card">
                <div class="item-categories">
                  <app-image [src]="category.img"></app-image>
                </div>
                <strong style="text-transform: capitalize;">{{category.name}}</strong>
              </div>
            </a>
          </div>
          <!-- * item -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- * Categories -->

  <!-- News -->
  <div class="section full mt-4 mb-3">
    <div class="section-heading padding">
      <h2 class="title">Nouveautés</h2>
      <a [routerLink]="['/shop', { type: 'news' }]" class="link">Tout voir</a>
    </div>
    <owl-carousel-o [options]="carouselMultipleOptions">
      <ng-container *ngFor="let product of productsMode; trackBy:trackById">
        <ng-template carouselSlide>
          <app-card-product [product]="product"></app-card-product>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- * News -->

  <!-- Les dressings -->
  <div class="section full mt-4 mb-3">
    <div class="section-heading padding">
      <h2 class="title">Les dressings</h2>
    </div>
    <owl-carousel-o [options]="carouselSingleOptions">
      <ng-container *ngFor="let user of users | slice:0:5; trackBy:trackById">
        <ng-template carouselSlide>
          <a [routerLink]="['/profile', user.id, {catalogType: 'mode'}]" routerLinkActive="router-link-active"
            class="item">
            <div class="item-profile">
              <img [src]="getUserDressingImg(user)">
            </div>
            <div class="box">
              <h1>Le dressing de <span style="text-transform: capitalize;font-size: 25px;">{{user.firstname}}</span>
              </h1>
              <span class="text-secondary">Membre depuis le {{user.createdAt | date:'dd/MM/YYYY'}}</span>
            </div>
          </a>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- Les dressings -->

  <!-- Baisse de prix -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title">Baisse de prix</h2>
      <a [routerLink]="['/shop', { type: 'falling-price' }]" routerLinkActive="router-link-active" class="link">Tout
        voir</a>
    </div>
    <owl-carousel-o [options]="carouselMultipleOptions">
      <ng-container *ngFor="let product of productsMode; trackBy:trackById">
        <ng-container *ngIf="isFallingPrice(product)">
          <ng-template carouselSlide>
            <app-card-product [product]="product"></app-card-product>
          </ng-template>
        </ng-container>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- * Baisse de prix -->

  <!-- Les galeries -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title">Les galeries</h2>
    </div>
    <owl-carousel-o [options]="carouselSingleOptions">
      <ng-container *ngFor="let user of users | slice:0:5; trackBy:trackById">
        <ng-template carouselSlide>
          <a [routerLink]="['/profile', user.id, {catalogType: 'art'}]" routerLinkActive="router-link-active"
            class="item">
            <div class="item-profile">
              <img [src]="getUserGalleryImg(user)">
            </div>
            <div class="box">
              <h1>La galerie de <span style="text-transform: capitalize;font-size: 25px;">{{user.firstname}}</span></h1>
              <span class="text-secondary">Membre depuis le {{user.createdAt | date:'dd/MM/YYYY'}}</span>
            </div>
          </a>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- Les galeries -->

  <!-- Articles art -->
  <div class="section full mt-4 mb-3">
    <div class="section-heading padding">
      <h2 class="title">Nouveautés Art</h2>
      <a [routerLink]="['/shop', {catalogType: 'art'}]" class="link">Tout voir</a>
    </div>
    <owl-carousel-o [options]="carouselMultipleOptions">
      <ng-container *ngFor="let product of productsArt; trackBy:trackById">
        <ng-template carouselSlide>
          <app-card-product [product]="product"></app-card-product>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- * Articles art -->

</div>
<!-- * App Capsule -->
