.item-slide {
  width: 100%;
  height: 300px;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.item-categories {
  width: 100%;
  height: 76px;
  overflow: hidden;
  border-radius: 7px;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.item-profile {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;

  img {
    object-fit: cover;
    height: 100%;

  }
}

.total {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 300;
}

.wallet-card {
  padding: 10px 24px;
  border-top: 6px solid #ddd1b6;
}

.title-box {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  color: #cbba96;
  letter-spacing: 3px;
  font-weight: 500;
}

.box {
  padding: 0 13px;
  text-align: left;

  h1 {
    font-size: 25px;
    margin: 0;
  }

  span {
    font-size: 15px;
  }
}

.text-banner {
  top: 50%;
  background: #fffffff2;
  transform: translate(-50%, -50%);
  width: 62%;
  left: 50%;
  text-align: center;
  padding: 20px 20px 30px;
  border-top: 5px solid #ddd1b6 !important;
  border-radius: 15px 15px 10px 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 9%);

  h1 {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #cbba96;
  }

  p {
    color: #27173E;
    font-weight: 500;
    line-height: 20px;
    font-size: 17px;
  }

  a {
    left: 50%;
    transform: translateX(-50%);
    bottom: -17px;
  }
}
