<app-header></app-header>
<app-loader [state]="isLoading()"></app-loader>
<!-- App Capsule -->
<div id="appCapsule">

  <div class="section full">
    <owl-carousel-o [options]="carouselFullOptions">
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide1.png"></app-image>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide4.jpeg"></app-image>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide2.png"></app-image>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide3.png"></app-image>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <app-image src="assets/img/slide/slide5.jpeg"></app-image>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <!-- Wallet Card -->
  <div class="section position-absolute" style="top: 280px; width: 100%;">
    <div class="wallet-card">
      <!-- Balance -->
      <div class="balance my-0">
        <div class="left">
          <h6 class="title-box">Découvrez l'univers</h6>
          <span class="title mb-0">de l'art et de la mode éphémères.</span>
        </div>
      </div>
      <!-- * Balance -->
    </div>
  </div>
  <!-- Wallet Card -->

  <!-- Categories -->
  <div class="section full mt-4" style="margin-top: 70px !important;">
    <div class="section-heading padding">
      <h2 class="title d-flex align-items-center">Catégories <span class="ml-1 text-secondary"
          style="font-size: x-small;">Mode</span></h2>
      <a [routerLink]="['/categories']" routerLinkActive="active" class="link">Tout voir</a>
    </div>
    <owl-carousel-o [options]="carouselSmallOptions">
      <ng-container *ngFor="let category of categoriesMode; trackBy:trackById">
        <ng-template carouselSlide>
          <!-- item -->
          <div class="item">
            <a [routerLink]="['/shop', {catalogType: category.type, category: category.value}]"
              routerLinkActive="router-link-active">
              <div class="user-card">
                <div class="item-categories">
                  <app-image [src]="category.img"></app-image>
                </div>
                <strong class="mb-0" style="text-transform: capitalize; line-height: 13px;">
                  {{category.name}}
                  <br> <span class="text-secondary"
                    style="font-size: 8px;">{{getGenderTranslate(category.gender) | uppercase}}</span>
                </strong>
              </div>
            </a>
          </div>
          <!-- * item -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- * Categories -->

  <!-- Bannière MODE -->
  <div class="section full mt-3 position-relative">
    <div class="image-overflow">
      <app-image [src]="'assets/img/banniere-mode.jpg'"></app-image>
    </div>
    <div class="text-banner position-absolute">
      <h1 class="mb-1">DES PIECES D'EXCEPTIONS</h1>
      <p class="mb-0">Trouverez-vous la perle rare ?</p>
      <a [routerLink]="['/categories']" routerLinkActive="router-link-active"
        class="btn btn-primary position-absolute">Consulter</a>
    </div>
  </div>
  <!-- * Bannière MODE -->

  <!-- News -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title d-flex align-items-center">Nouveautés <span class="ml-1 text-secondary"
          style="font-size: x-small;">Mode</span></h2>
      <a [routerLink]="['/shop', { type: 'news' }]" class="link">Tout voir</a>
    </div>
    <ng-container *ngIf="productsMode.length > 0; else noProductsMode">
      <owl-carousel-o [options]="carouselMultipleOptions">
        <ng-container *ngFor="let product of productsMode; trackBy:trackById">
          <ng-template carouselSlide>
            <app-card-product [product]="product" [productId]="product.id"></app-card-product>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </ng-container>

    <ng-template #noProductsMode>
      <div class="d-flex justify-content-center w-100">
        <div class="card" style="border-top: 4px solid #ddd1b6 !important; border-radius: 15px;">
          <div class="card-body d-flex align-items-center justify-content-between p-2">
            <ion-icon name="information-circle" class="mr-2" style="font-size: x-large; color: #ddd1b6"></ion-icon>
            <p class="m-0 text-secondary">Aucune nouveautés disponible</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- * News -->

  <!-- Les dressings -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title">Les dressings</h2>
    </div>
    <ng-container *ngIf="users?.length > 0; else noProductsFallingPriceMode">
      <owl-carousel-o [options]="carouselSingleOptions">
        <ng-container *ngFor="let user of users | slice:0:5; trackBy:trackById">
          <ng-template carouselSlide>
            <a [routerLink]="['/profile', user.id, {catalogType: 'mode'}]" routerLinkActive="router-link-active"
              class="item">
              <div style="background: white; border-radius: 15px; padding: 10px 0 0;">
                <div class="box d-flex justify-content-between align-items-center">
                  <div class="left">
                    <p class="mb-0 text-dark">Le dressing de</p>
                    <span class="position-relative"
                      style="font-size: 17px; top: -8px; font-weight: 600; letter-spacing: 2px;">{{user.firstname | uppercase}}</span>
                  </div>
                  <span class="text-secondary ml-3">{{getProductsDressingUser(user.id).length}}
                    {{getProductsDressingUser(user.id).length > 1 ? 'articles': 'article'}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-between px-2 py-2"
                  style="flex-wrap: wrap; border-radius: 0 0 10px 10px;">
                  <ng-container *ngIf="getProductsDressingUser(user.id).length > 0; else noProducts">
                    <div class="img-product" style="background: url('{{product.photoFace}}');"
                      *ngFor="let product of getProductsDressingUser(user.id)">
                    </div>
                  </ng-container>
                  <ng-template #noProducts>
                    <div class="img-product d-flex align-items-center justify-content-center">
                      <p class="text-center text-secondary">
                        Dressing vide
                      </p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </ng-container>

    <ng-template #noProductsFallingPriceMode>
      <div class="d-flex justify-content-center w-100">
        <div class="card" style="border-top: 4px solid #ddd1b6 !important; border-radius: 15px;">
          <div class="card-body d-flex align-items-center justify-content-between p-2">
            <ion-icon name="information-circle" class="mr-2" style="font-size: x-large; color: #ddd1b6"></ion-icon>
            <p class="m-0 text-secondary">Aucun dressing disponible</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- Les dressings -->

  <!-- Baisse de prix -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title d-flex align-items-center">Baisse de prix <span class="ml-1 text-secondary"
          style="font-size: x-small;">Mode</span></h2>
      <a [routerLink]="['/shop', { type: 'falling-price' }]" routerLinkActive="router-link-active" class="link">Tout
        voir</a>
    </div>
    <ng-container *ngIf="productsFallingPriceMode.length > 0; else noProductsFallingPriceMode">
      <owl-carousel-o [options]="carouselMultipleOptions">
        <ng-container *ngFor="let product of productsFallingPriceMode; trackBy:trackById">
          <ng-container *ngIf="isFallingPrice(product)">
            <ng-template carouselSlide>
              <app-card-product [product]="product" [productId]="product.id"></app-card-product>
            </ng-template>
          </ng-container>
        </ng-container>
      </owl-carousel-o>
    </ng-container>

    <ng-template #noProductsFallingPriceMode>
      <div class="d-flex justify-content-center w-100">
        <div class="card" style="border-top: 4px solid #ddd1b6 !important; border-radius: 15px;">
          <div class="card-body d-flex align-items-center justify-content-between p-2">
            <ion-icon name="information-circle" class="mr-2" style="font-size: x-large; color: #ddd1b6"></ion-icon>
            <p class="m-0 text-secondary">Aucune nouveautés disponible</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- * Baisse de prix -->

  <!-- Categories -->
  <div class="section full mt-2 mb-5">
    <div class="section-heading padding">
      <h2 class="title">Nouveaux membres</h2>
    </div>
    <owl-carousel-o [options]="carouselSmallOptions">
      <ng-container *ngFor="let user of users; trackBy:trackById">
        <ng-template carouselSlide>
          <!-- item -->
          <div class="item">
            <a [routerLink]="['/profile', user.id]" routerLinkActive="router-link-active">
              <div class="user-card">
                <div class="item-categories">
                  <app-image [src]="getUserImgProfile(user)"></app-image>
                </div>
                <strong style="text-transform: capitalize;">{{user.firstname | titlecase}}</strong>
              </div>
            </a>
          </div>
          <!-- * item -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- * Categories -->

  <!-- Bannière ART -->
  <div class="section full mt-3 position-relative">
    <div class="image-overflow">
      <app-image [src]="'assets/img/banniere-art.jpg'"></app-image>
    </div>
    <div class="text-banner position-absolute">
      <h1 class="mb-1">ART VISUEL, ART DECO</h1>
      <p class="mb-0">Tout l'art à porté de main</p>
      <a [routerLink]="['/categories']" routerLinkActive="router-link-active"
        class="btn btn-primary position-absolute">Consulter</a>
    </div>
  </div>
  <!-- * Bannière ART -->

  <!-- Categories ART-->
  <div class="section full mt-4">
    <div class="section-heading padding">
      <h2 class="title d-flex align-items-center">Catégories <span class="ml-1 text-secondary"
          style="font-size: x-small;">Art</span></h2>
      <a [routerLink]="['/categories']" routerLinkActive="active" class="link">Tout voir</a>
    </div>
    <owl-carousel-o [options]="carouselSmallOptions">
      <ng-container *ngFor="let category of categoriesArt; trackBy:trackById">
        <ng-template carouselSlide>
          <!-- item -->
          <div class="item">
            <a [routerLink]="['/shop', {catalogType: category.type, category: category.value}]"
              routerLinkActive="router-link-active">
              <div class="user-card">
                <div class="item-categories">
                  <app-image [src]="category.img"></app-image>
                </div>
                <strong style="text-transform: capitalize;">{{category.name}}</strong>
              </div>
            </a>
          </div>
          <!-- * item -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- * Categories ART -->

  <!-- Nouveautés art -->
  <div class="section full mt-5 mb-5">
    <div class="section-heading padding">
      <h2 class="title d-flex align-items-center">Nouveautés <span class="ml-1 text-secondary"
          style="font-size: x-small;">Art</span></h2>
      <a [routerLink]="['/shop', {catalogType: 'art'}]" class="link">Tout voir</a>
    </div>
    <ng-container *ngIf="productsArt.length > 0; else noProductsArt">
      <owl-carousel-o [options]="carouselMultipleOptions">
        <ng-container *ngFor="let product of productsArt; trackBy:trackById">
          <ng-template carouselSlide>
            <app-card-product [product]="product" [productId]="product.id"></app-card-product>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </ng-container>
    <ng-template #noProductsArt>
      <div class="d-flex justify-content-center w-100">
        <div class="card" style="border-top: 4px solid #ddd1b6 !important; border-radius: 15px;">
          <div class="card-body d-flex align-items-center justify-content-between p-2">
            <ion-icon name="information-circle" class="mr-2" style="font-size: x-large; color: #ddd1b6;"></ion-icon>
            <p class="m-0 text-secondary">Aucune nouveautés disponible</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- * Nouveautés art -->

  <!-- Les galeries -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title">Les galeries</h2>
    </div>

    <ng-container *ngIf="users?.length > 0; else noGalleries">
      <owl-carousel-o [options]="carouselSingleOptions">
        <ng-container *ngFor="let user of users | slice:0:5; trackBy:trackById">
          <ng-template carouselSlide>
            <a [routerLink]="['/profile', user.id, {catalogType: 'art'}]" routerLinkActive="router-link-active"
              class="item">
              <div style="background: white; border-radius: 15px; padding: 10px 0 0;">
                <div class="box d-flex justify-content-between align-items-center">
                  <div class="left">
                    <p class="mb-0 text-dark">La galerie de</p>
                    <span class="position-relative"
                      style="font-size: 17px; top: -8px; font-weight: 600; letter-spacing: 2px;">{{user.firstname | uppercase}}</span>
                  </div>
                  <span class="text-secondary ml-3">{{getProductsGalleryUser(user.id).length}}
                    {{getProductsGalleryUser(user.id).length > 1 ? 'articles': 'article'}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-between px-2 py-2"
                  style="flex-wrap: wrap; border-radius: 0 0 10px 10px;">
                  <ng-container *ngIf="getProductsGalleryUser(user.id).length > 0; else noProducts">
                    <div class="img-product" style="background: url('{{product.photoFace}}');"
                      *ngFor="let product of getProductsGalleryUser(user.id)">
                    </div>
                  </ng-container>
                  <ng-template #noProducts>
                    <div class="img-product d-flex align-items-center justify-content-center">
                      <p class="text-center text-secondary">
                        Galerie vide
                      </p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </ng-container>

    <ng-template #noGalleries>
      <div class="d-flex justify-content-center w-100">
        <div class="card" style="border-top: 4px solid #ddd1b6 !important; border-radius: 15px;">
          <div class="card-body d-flex align-items-center justify-content-between p-2">
            <ion-icon name="information-circle" class="mr-2" style="font-size: x-large; color: #ddd1b6;"></ion-icon>
            <p class="m-0 text-secondary">Aucune Galerie disponible</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- Les galeries -->

  <!-- Baisse de prix Art -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title d-flex align-items-center">Baisse de prix <span class="ml-1 text-secondary"
          style="font-size: x-small;">Art</span></h2>
      <a [routerLink]="['/shop', { type: 'falling-price' }]" routerLinkActive="router-link-active" class="link">Tout
        voir</a>
    </div>

    <ng-container *ngIf="productsFallingPriceArt.length > 0; else noProductsFallingPriceArt">
      <owl-carousel-o [options]="carouselMultipleOptions">
        <ng-container *ngFor="let product of productsFallingPriceArt; trackBy:trackById">
          <ng-container *ngIf="isFallingPrice(product)">
            <ng-template carouselSlide>
              <app-card-product [product]="product" [productId]="product.id"></app-card-product>
            </ng-template>
          </ng-container>
        </ng-container>
      </owl-carousel-o>
    </ng-container>


    <ng-template #noProductsFallingPriceArt>
      <div class="d-flex justify-content-center w-100">
        <div class="card" style="border-top: 4px solid #ddd1b6 !important; border-radius: 15px;">
          <div class="card-body d-flex align-items-center justify-content-between p-2">
            <ion-icon name="information-circle" class="mr-2" style="font-size: x-large; color: #ddd1b6;"></ion-icon>
            <p class="m-0 text-secondary">Aucune baisse de prix disponible</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- * Baisse de prix Art -->

  <!-- Bannière Buy sell -->
  <div class="section full mt-3 position-relative">
    <div class="image-overflow">
      <app-image [src]="'assets/img/banniere-buy-sell.jpg'"></app-image>
    </div>
    <div class="text-banner position-absolute">
      <h1 class="mb-1">ACHETER, REVENDRE</h1>
      <p class="mb-0">Le meilleur moyen de rester dans l'air du temps</p>
      <a [routerLink]="['/post']" routerLinkActive="router-link-active"
        class="btn btn-primary position-absolute">Vendre</a>
    </div>
  </div>
  <!-- * Bannière Buy sell -->

</div>
<!-- * App Capsule -->
<app-footer></app-footer>
<app-cookies-box></app-cookies-box>
