.transactions {
  .item {
    padding: 10px 15px;

    p {
      font-size: 18px;
    }
  }

  .price {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  .total-cart {
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 9%);
    border-radius: 10px;
    padding: 20px 24px;
    margin-bottom: 10px;

    p {
      font-size: 18px;
    }
  }
}

.imageWrapper {
  width: 65px;
  height: 65px;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.fsize-16 {
  font-size: 16px !important;
}

.fsize-15 {
  font-size: 15px !important;
}
