<!-- App Header -->
<div class="appHeader">
  <div class="left">
  </div>
  <div class="pageTitle">
    Notifications
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<div id="appCapsule">
  <div class="section full">
    <ul class="listview image-listview flush">
      <li class="active">
        <a href="#" class="item">
          <div class="icon-box bg-primary">
            <ion-icon name="cash-outline" class="md hydrated"></ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>C'est jour de paie !</strong></div>
              <div class="text-small mb-05">John vous a payé <b>350,00 €</b></div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
            <span class="badge badge-primary badge-empty"></span>
          </div>
        </a>
      </li>
      <li class="active">
        <a href="#" class="item">
          <div class="icon-box bg-success">
            <ion-icon name="arrow-forward-outline" role="img" class="md hydrated" aria-label="arrow forward outline">
            </ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>L'argent a été viré.</strong></div>
              <div class="text-small mb-05">L'argent a été envoyé par Estelle avec succès.</div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
            <span class="badge badge-primary">3</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="item">
          <div class="icon-box bg-danger">
            <ion-icon name="key-outline" role="img" class="md hydrated" aria-label="key outline"></ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>Mot de passe changé</strong></div>
              <div class="text-small mb-05">Votre mot de passe a bien été modifié</div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="item">
          <div class="icon-box bg-warning">
            <ion-icon name="chatbubble-outline" role="img" class="md hydrated" aria-label="chatbubble outline">
            </ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>Nouvelle offre</strong></div>
              <div class="text-small mb-05">Vous avez une nouvelle offre de Sophie</div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="item">
          <div class="icon-box bg-primary">
            <ion-icon name="cash-outline" class="md hydrated"></ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>C'est jour de paie !</strong></div>
              <div class="text-small mb-05">John vous a payé <b>350,00 €</b></div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="item">
          <div class="icon-box bg-success">
            <ion-icon name="arrow-forward-outline" role="img" class="md hydrated" aria-label="arrow forward outline">
            </ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>L'argent a été viré.</strong></div>
              <div class="text-small mb-05">L'argent a été envoyé par Estelle avec succès.</div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="item">
          <div class="icon-box bg-danger">
            <ion-icon name="key-outline" role="img" class="md hydrated" aria-label="key outline"></ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>Mot de passe changé</strong></div>
              <div class="text-small mb-05">Votre mot de passe a bien été modifié</div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="item">
          <div class="icon-box bg-warning">
            <ion-icon name="chatbubble-outline" role="img" class="md hydrated" aria-label="chatbubble outline">
            </ion-icon>
          </div>
          <div class="in">
            <div>
              <div class="mb-05"><strong>Nouvelle offre</strong></div>
              <div class="text-small mb-05">Vous avez une nouvelle offre de Géraldine</div>
              <div class="text-xsmall number">05/02/2022 10:30</div>
            </div>
          </div>
        </a>
      </li>
    </ul>

  </div>

</div>
<app-footer></app-footer>
