    <!-- App Capsule -->
    <div id="appCapsule">
      <div class="section full">

        <owl-carousel-o [options]="carouselFullOptions">
          <ng-template carouselSlide>
            <div class="item">
              <img src="assets/img/product/img1.jpeg" alt="alt" class="imaged w-100 square">
            </div>
          </ng-template>
          <ng-template carouselSlide>

            <div class="item">
              <img src="assets/img/product/img2.jpeg" alt="alt" class="imaged w-100 square">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <img src="assets/img/product/img3.jpeg" alt="alt" class="imaged w-100 square">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <img src="assets/img/product/img4.jpeg" alt="alt" class="imaged w-100 square">
            </div>
          </ng-template>
        </owl-carousel-o>

      </div>
      <div class="section mt-2">
        <div class="d-flex align-items-center justify-content-between">
          <h1 class="my-0" style="font-size: 40px;">{{product?.name}}</h1>
          <div class="action d-flex align-items-center">
            <span class="number d-flex align-items-center" style="font-size: 12px; margin-right: 8px;">
              <ion-icon name="heart" class="text-danger" style="font-size: 25px; margin-right: 5px;"></ion-icon>
              {{product?.like}}
            </span>
            <ion-icon name="share-outline" style="font-size: 25px" (click)="shareProduct()"></ion-icon>
          </div>
        </div>
        <p style="font-size: 19px;">{{product?.description}}</p>
        <div class="blog-header-info mt-2 mb-2">
          <div>
            <a [routerLink]="['/profile']" routerLinkActive="router-link-active" class="text-dark">
              <img src="assets/img/sample/avatar/avatar4.jpg" alt="img" class="imaged w48 rounded mr-05">
              {{product?.sellerName}}
            </a>
          </div>
          <div class="number" style="font-size: 11px; font-weight: 500;">
            24/09/2021
          </div>
        </div>
      </div>

      <div class="section mt-4">
        <div class="section-heading">
          <h2 class="title">Détails de l'article</h2>
        </div>

		  <div class="d-flex justify-content-center">
			  <div class="chip chip-media mb-2">
				 <i class="chip-icon bg-primary">
					<ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="alarm outline">
					</ion-icon>
				 </i>
				 <span class="chip-label number"
					style="font-size: 12px;">{{product?.amount | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
			  </div>
		  </div>

        <div class="accordion" id="accordionExample1">
          <div class="item">
            <div class="accordion-header">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1"
                aria-expanded="false">
                <h2 class="my-0">Description</h2>
              </button>
            </div>
            <div id="accordion1" class="accordion-body collapse show" data-parent="#accordionExample1" style="">
              <div class="accordion-content">
                Le micro sac Lady Dior incarne parfaitement la vision d'élégance et de beauté de la maison Dior.
                Confectionnée en cuir d'agneau rose vif à surpiqûres Cannage, sa silhouette iconique est rehaussée du
                charm D.I.O.R.. Ce micro sac Lady Dior accueillera vos petits essentiels. Il se portera aussi bien à la
                main grâce à ses anses, qu'épaule ou crossbody grâce à sa bandoulière ajustable et amovible.
              </div>
            </div>
          </div>

          <div class="item">
            <div class="accordion-header">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion2">
                <h2 class="my-0">Information Taille & Coupe</h2>
              </button>
            </div>
            <div id="accordion2" class="accordion-body collapse" data-parent="#accordionExample1">
              <div class="accordion-content">
                Dimensions : 12 x 10 x 5 cm
                La taille convient parfaitement aux AirPods Pro, rouge à lèvres et clés
              </div>
            </div>
          </div>

          <div class="item">
            <div class="accordion-header">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion3"
                aria-expanded="false">
                <h2 class="my-0">Livraison & Retours</h2>
              </button>
            </div>
            <div id="accordion3" class="accordion-body collapse" data-parent="#accordionExample1" style="">
              <div class="accordion-content">
                <h3>Retours sous 30 jours offerts</h3>
                <p>
                  Vous avez la possibilité de nous retourner ou échanger tout produit commandé dans un délai de 30 jours
                  à compter de sa date de réception. Pour plus d'informations consultez notre FAQ.
                </p>

                <h3>Livraison standard offerte</h3>
                <ul>
                  <li>Dior vous propose deux modes de livraisons rapides et sécurisés</li>
                  <li>Livraison standard avec UPS (3 à 4 jours ouvrés): offerte</li>
                  <li>Livraison express avec UPS (1 à 2 jours ouvrés): 9,95€</li>
                  <li>Les délais de livraison sont estimés à partir de l'expédition de votre commande.</li>
                </ul>
                <h3>Expédition sous 24h</h3>
                <p>
                  Les commandes effectuées avant midi sont préparées et envoyées le même jour ; celles effectuées après
                  midi sont envoyées dans les 24 heures
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="section mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-block btn-lg btn-outline-primary">Négocier</a>
              </div>
              <div class="col">
                <a href="#" class="btn btn-block btn-lg btn-primary" data-toggle="modal"
                  data-target="#DialogIconedSuccess">Ajouter</a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- News -->
      <div class="section full mt-4 mb-5">
        <div class="section-heading padding">
          <h2 class="title">Articles suggérés</h2>
          <a [routerLink]="['/categories']" routerLinkActive="active" class="link">Tout voir</a>
        </div>
        <owl-carousel-o [options]="carouselMultipleOptions">
          <ng-container *ngFor="let product of products">
            <ng-template carouselSlide>
              <!-- item -->
              <div class="item">
                <a (click)="gotoCategory(product)">
                  <div class="blog-card">
                    <div class="blog-header d-flex justify-content-between align-items-center py-2 px-2">
                      <a (click)="gotoCategory(product)"
                        class="d-flex align-items-center justify-content-between text-muted">
                        <img [src]="product.sellerImg" [alt]="product.sellerName" [title]="product.sellerName"
                          class="imaged w24 rounded mr-05"> {{product.sellerName}}
                      </a>
                      <div class="d-flex align-items-center justify-content-between text-muted">
                        <ion-icon name="heart-outline" style="font-size: 17px; margin-right: 2px;"></ion-icon>
                        <span class="number" style="font-size: 9px">{{product.like}}</span>
                      </div>
                    </div>
						  <div class="image-overflow">
							<img [src]="product.img" [alt]="product.name" [title]="product.name" class="imaged">
						  </div>
                    <div class="bill-box">
                      <div class="chip chip-media mb-2">
                        <i class="chip-icon bg-primary">
                          <ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="alarm outline">
                          </ion-icon>
                        </i>
                        <span class="chip-label number"
                          style="font-size: 12px;">{{product.amount | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
                      </div>
                      <h1 style="font-size: 15px; text-transform: uppercase;">{{product.name}}</h1>
                      <p>{{product.description}}</p>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                          <ion-icon name="location-outline" style="margin-right: 3px"></ion-icon>
                          <span class="fi fi-{{product.sellerCountry}}"></span>
                        </div>
                        <a href="#" class="btn btn-icon btn-primary me-1">
                          <ion-icon name="bag-add-outline"></ion-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <!-- * item -->
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <!-- * News -->


    </div>
    <!-- * App Capsule -->

    <!-- Share Action Sheet -->
    <div class="modal fade action-sheet inset" id="actionSheetShare" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Share with</h5>
          </div>
          <div class="modal-body">
            <ul class="action-button-list">
              <li>
                <a href="#" class="btn btn-list" data-dismiss="modal">
                  <span>
                    <ion-icon name="logo-facebook"></ion-icon>
                    Facebook
                  </span>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-list" data-dismiss="modal">
                  <span>
                    <ion-icon name="logo-twitter"></ion-icon>
                    Twitter
                  </span>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-list" data-dismiss="modal">
                  <span>
                    <ion-icon name="logo-instagram"></ion-icon>
                    Instagram
                  </span>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-list" data-dismiss="modal">
                  <span>
                    <ion-icon name="logo-linkedin"></ion-icon>
                    Linkedin
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- * Share Action Sheet -->

    <div class="modal fade dialogbox" id="DialogIconedSuccess" data-backdrop="static" tabindex="-1" role="dialog"
      aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-icon text-success">
            <ion-icon name="checkmark-circle" role="img" class="md hydrated" aria-label="checkmark circle"></ion-icon>
          </div>
          <div class="modal-header">
            <h2 class="modal-title" style="font-size: 22px;">Ajouté au panier</h2>
          </div>
          <div class="modal-body">
            <p class="my-0" style="font-size: 18px;">L'article a bien été ajouté au panier</p>
          </div>
          <div class="modal-footer">
            <div class="btn-inline">
              <a href="#" class="btn text-muted" data-dismiss="modal" style="font-size: 18px;">
                Fermer
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
