<app-loader [state]="isLoading()"></app-loader>
<!-- App Header -->
<div class="appHeader">
  <div class="left">
    <a [routerLink]="['/shop']" routerLinkActive="router-link-active" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" class="text-primary"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    {{currentProduct?.brand}}
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- App Capsule -->
<div id="appCapsule">
  <div class="section full position-relative">
    <owl-carousel-o [options]="carouselFullOptions">
      <ng-template carouselSlide>
        <div class="item item-slide">
          <img [src]="currentProduct?.img.photoFace" alt="">
          <a class="btn btn-primary btn-icon btn-slide" (click)="getCurrentProduct(currentProduct?.img.photoFace)"
            data-toggle="modal" data-target="#DialogImage">
            <ion-icon name="expand-outline"></ion-icon>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <img [src]="currentProduct?.img.photoDos" alt="">
          <a class="btn btn-primary btn-icon btn-slide" (click)="getCurrentProduct(currentProduct?.img.photoDos)"
            data-toggle="modal" data-target="#DialogImage">
            <ion-icon name="expand-outline"></ion-icon>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <img [src]="currentProduct?.img.photoProfile" alt="">
          <a class="btn btn-primary btn-icon btn-slide" (click)="getCurrentProduct(currentProduct?.img.photoProfile)"
            data-toggle="modal" data-target="#DialogImage">
            <ion-icon name="expand-outline"></ion-icon>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item item-slide">
          <img [src]="currentProduct?.img.photoGriffe" alt="">
          <a class="btn btn-primary btn-icon btn-slide" (click)="getCurrentProduct(currentProduct?.img.photoGriffe)"
            data-toggle="modal" data-target="#DialogImage">
            <ion-icon name="expand-outline"></ion-icon>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="section mt-2">
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="my-0" style="font-size: 32px;">{{currentProduct?.brand}}</h1>
      <div class="action d-flex align-items-center">
        <span class="number d-flex align-items-center" style="font-size: 12px; margin-right: 8px;">
          <ion-icon name="heart" class="text-danger" style="font-size: 25px; margin-right: 5px;"></ion-icon>
          {{currentProduct?.like}}
        </span>
        <ion-icon name="share-outline" style="font-size: 25px" (click)="shareProduct()"></ion-icon>
      </div>
    </div>
    <p style="font-size: 19px;">{{currentProduct?.model}}</p>
    <div class="blog-header-info mt-2 mb-2">
      <div>
        <a [routerLink]="['/profile', currentProduct?.sellerId]" routerLinkActive="router-link-active"
          class="text-dark">
          <img src="{{currentProduct?.sellerImg}}" alt="img" class="imaged w48 rounded mr-05">
          {{currentProduct?.sellerName}}
        </a>
      </div>
      <div class="member-date">
        Membre depuis le
        <span class="number d-block" style="font-size: 10px; font-weight: 500;">24/09/2021</span>
      </div>
    </div>
  </div>

  <div class="section mt-4">
    <div class="section-heading">
      <h2 class="title">Détails de l'article</h2>
    </div>

    <div class="accordion" id="accordionExample1">
      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1"
            aria-expanded="false">
            <h2 class="my-0">Description</h2>
          </button>
        </div>
        <div id="accordion1" class="accordion-body collapse show" data-parent="#accordionExample1">
          <div class="accordion-content">
            {{currentProduct?.description}}
          </div>
        </div>
      </div>

      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion2">
            <h2 class="my-0">Information Taille & Coupe</h2>
          </button>
        </div>
        <div id="accordion2" class="accordion-body collapse" data-parent="#accordionExample1">
          <div class="accordion-content">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Largeur</font>
                      </font>
                    </th>
                    <th scope="col" class="text-center">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Hauteur</font>
                      </font>
                    </th>
                    <th scope="col" class="text-center">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Profondeur</font>
                      </font>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center number">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{currentProduct?.dimensions.width}}</font>
                      </font>
                    </td>
                    <td class="text-center number">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{currentProduct?.dimensions.height}}</font>
                      </font>
                    </td>
                    <td class="text-center number">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit; text-align: center;">{{currentProduct?.dimensions.depth}}
                        </font>
                      </font>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="accordion-header">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion3"
            aria-expanded="false">
            <h2 class="my-0">Contrôle, Livraison & Retours</h2>
          </button>
        </div>
        <div id="accordion3" class="accordion-body collapse" data-parent="#accordionExample1" style="">
          <div class="accordion-content">
            <h3><i class="fa-solid fa-certificate mr-1"></i> Contrôle de conformité offerts</h3>
            <ul>
              <li>Tous les articles sont réceptionnés dans notre centre.</li>
              <li>Tous les articles sont contrôlés par nos experts.</li>
              <li>Une fois conforme, nous vous confirmerons l'envoi de votre article.</li>
            </ul>
            <h3><i class="fa-solid fa-truck-fast mr-1"></i> Expédition sous 24h</h3>
            <p>
              Les articles contrôlés et validés sont immédiatement préparés et envoyés sous 24h.
            </p>
            <h3><i class="fa-solid fa-circle-arrow-left mr-1"></i> Retours sous 72 heures</h3>
            <p>
              Vous avez la possibilité de nous retourner ou échanger tout produit commandé dans un délai de 72
              heures
              à compter de sa date de réception. Pour plus d'informations consultez notre FAQ.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="d-flex justify-content-center mt-2 mb-2">
    <div class="chip chip-media bg-white">
      <i class="chip-icon bg-primary">
        <ion-icon name="cash-outline" role="img" class="md hydrated" aria-label="alarm outline">
        </ion-icon>
      </i>
      <span class="chip-label number"
        style="font-size: 12px;">{{currentProduct?.amount.price | currency:'EUR':'symbol':'3.2-2':'fr'}}</span>
    </div>
  </div>

  <div class="section mt-2">
    <div class="card">
      <div class="card-body">
        <div class="row d-flex justify-content-around align-items-center">
          <div class="text-center">
            <a [routerLink]="['/negociate', currentProduct?.id]" routerLinkActive="router-link-active"
              class="btn btn-block btn-icon btn-lg btn-primary my-0" style="width: 50px; height: 50px;">
              <ion-icon name="hand-left-outline"></ion-icon>
            </a>
            <span class="d-block text-secondary">Négocier</span>
          </div>
          <div class="text-center">
            <a [routerLink]="['/negociate', currentProduct?.id]" routerLinkActive="router-link-active"
              class="btn btn-block btn-lg btn-icon btn-primary my-0" style="width: 50px; height: 50px;">
              <ion-icon name="star-outline"></ion-icon>
            </a>
            <span class="d-block text-secondary">Wishlist</span>
          </div>
          <div class="text-center">
            <a class="btn btn-block btn-icon btn-lg btn-primary my-0" style="width: 50px; height: 50px;"
              (click)="addProductToCart(currentProduct)">
              <ion-icon name="bag-add-outline"></ion-icon>
            </a>
            <span class="d-block text-secondary">Panier</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section mt-4">
    <div class="section-heading d-flex align-items-center justify-content-between">
      <h2 class="title">Commentaires</h2>
      <button class="btn btn-icon btn-primary" data-toggle="modal" data-target="#commentForm">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </button>
    </div>
    <div class="card bg-white mb-2">
      <owl-carousel-o [options]="carouselMultipleOptions">
        <ng-template carouselSlide>
          <div class="px-4 py-4">
            <blockquote class="blockquote mb-0">
              <p>Magnifique !</p>
              <footer class="d-flex align-items-center">
                <img src="assets/img/sample/avatar/avatar4.jpg" class="imaged rounded w24 mr-1" alt="">
                <a href="" style="font-size: 15px; font-weight: 500;">John</a>
              </footer>
            </blockquote>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <!-- News -->
  <div class="section full mt-4 mb-5">
    <div class="section-heading padding">
      <h2 class="title">Articles suggérés</h2>
      <a [routerLink]="['/categories']" routerLinkActive="active" class="link">Tout voir</a>
    </div>
    <owl-carousel-o [options]="carouselMultipleOptions">
      <ng-container *ngFor="let product of products; trackBy:trackById">
        <ng-container *ngIf="isSameCategories(product)">
          <ng-template carouselSlide>
            <app-card-product [product]="product"></app-card-product>
          </ng-template>
        </ng-container>
      </ng-container>
    </owl-carousel-o>
    <ng-container *ngFor="let product of products">
      <div class="" *ngIf="!isSameCategories(product)">
        Aucun
      </div>
    </ng-container>
  </div>
  <!-- * News -->

</div>
<!-- * App Capsule -->

<!-- Dialog Image -->
<div class="modal fade dialogbox" id="DialogImage" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <img [src]="currentImg" alt="image" class="img-fluid">
      <div class="modal-footer">
        <div class="btn-inline">
          <a href="#" class="btn btn-text-secondary" data-dismiss="modal">
            <ion-icon name="close-outline"></ion-icon>
          </a>
          <a href="#" class="btn btn-text-primary" data-dismiss="modal">
            <ion-icon name="share-outline"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * Dialog Image -->

<div class="modal fade action-sheet" id="commentForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un commentaire</h5>
      </div>
      <div class="modal-body">
        <div class="action-sheet-content">
          <form>
            <div class="form-group basic">
              <div class="input-wrapper">
                <textarea id="address5" rows="2" class="form-control"
                  placeholder="Saisissez votre commentaire"></textarea>
              </div>
            </div>
            <div class="form-group basic">
              <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
