<!-- App Header -->
<div class="appHeader">
  <div class="left">
    <a [routerLink]="['/settings']" routerLinkActive="router-link-active" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" class="text-primary"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    Ma Wishlist
  </div>
  <div class="right">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="headerButton">
      <ion-icon name="close-outline" class="text-primary"></ion-icon>
    </a>
  </div>
</div>
<!-- * App Header -->

<!-- Extra Header -->
<div class="extraHeader pr-0 pl-0">
  <ul class="nav nav-tabs lined" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#mode" role="tab">
        Dressing
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#art" role="tab">
        Galerie
      </a>
    </li>
  </ul>
</div>
<!-- * Extra Header -->
<!-- App Capsule -->
<div id="appCapsule" class="extra-header-active">
  <div class="tab-content mt-1">
    <!-- Mode tab -->
    <div class="tab-pane fade active show" id="mode" role="tabpanel">
      <div class="section full mt-2">
        <div class="wide-block pt-1 pb-4 border-0" style="background:  #f7f7ff;">
          <ul class="nav nav-tabs style1" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#homme" role="tab">
                Homme
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#femme" role="tab">
                Femme
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#enfant" role="tab">
                Enfant
              </a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="homme" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let product of productsMens; trackBy:trackById">
                  <div class="col-6 mb-2">
                    <app-card-product [product]="product" [productId]="product.productId"></app-card-product>
                  </div>
                </ng-container>
                <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
                  *ngIf="productsMens.length === 0">
                  <p style="font-size: large;">Aucun article disponible</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="femme" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let product of productsWomens; trackBy:trackById">
                  <div class="col-6 mb-2">
                    <app-card-product [product]="product" [productId]="product.productId"></app-card-product>
                  </div>
                </ng-container>
                <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
                  *ngIf="productsWomens.length === 0">
                  <p style="font-size: large;">Aucun article disponible</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="enfant" role="tabpanel">
              <div class="row">
                <ng-container *ngFor="let product of productsKids; trackBy:trackById">
                  <div class="col-6 mb-2">
                    <app-card-product [product]="product" [productId]="product.productId"></app-card-product>
                  </div>
                </ng-container>
                <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
                  *ngIf="productsKids.length === 0">
                  <p style="font-size: large;">Aucun article disponible</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="art" role="tabpanel">
      <div class="section full mt-2">
        <div class="wide-block pt-1 pb-4 border-0" style="background:  #f7f7ff;">
          <div class="row">
            <ng-container *ngFor="let product of productsArt; trackBy:trackById">
              <div class="col-6 mb-2">
                <app-card-product [product]="product" [productId]="product.productId"></app-card-product>
              </div>
            </ng-container>
            <div class="col-12 mb-2 d-flex align-items-center justify-content-center" style="min-height: 200px;"
              *ngIf="productsArt.length === 0">
              <p style="font-size: large;">Aucun article disponible</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
